<a href="https://colab.research.google.com/github/vijendranp/Hello-World/blob/master/BasicsofPythonProgramming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Unary Operators**

# write a program to print the fibonacci series

In [0]:
def fibonacci(n):
  if(n<2):
    return 1
  else:
    return (fibonacci(n-1)+fibonacci(n-2))

n = int(input("Enter the number of terms: "))
for i in range(n):
  print("Fibonacci(",i,") = ",fibonacci(i))

In [0]:
from math import pi
print("PI =  ",pi)

In [0]:
import math
from math import sqrt as square_root
print(square_root(81))

In [0]:
format(3**50, '.5e')

In [0]:
float(16/(float(3)))

In [0]:
format (float(16/(float(3))), '.2f')

Display data of different type using variable and literal constant

In [0]:
num = 7
amt = 124.55
code = 'A'
pi = 3.1415926536
population_of_india = 1000000000
msg = "Hi"

print("NUM = "+str(num))
print("\n AMT = " + str(amt))
print("\n CODE =" +str(code))
print("\n POPULATION OF INDIA = "+ str(population_of_india))
print("\n MESSAGE = "+str(msg))

Program to reassign values to variable

In [0]:
val = 'Hello'
print(val)
val = 100
print(val)
val = 12.34
print(val)
x = 5
y = 10
print('Hello')
print(x+y)

In [0]:
mesg = "Helo"
print(mesg)

Helo

In [0]:
mesg = "Hello";
print(mesg);

Hello

In [0]:
mesg = "Hello";
print(mesg)

Hello

In [0]:
name = input("What is your name?")
age = input(" Enter your age :")
print ( name + ", you are " + age + " years old")

# In Python indentation is used to associate and group statements.

In [0]:
a = 100
b = 200

print (a+b)
print(a-b)
print(a*b)
print(b/a)
print(b%a)
print(12//5)
print(12.0//5.0)
print(-19//5)
print(-20.0//3)
print(a**b)

Operator Description : 

=  c = a ,  assigns value of a to c 
a += is same as a = a + b
a -=  is same as a = a-b

a *=  is same as a = a * b

a /b is same as a = a / b

a % b is same as a = a % b

a//=b is same as a = a // b

a**b = b is same as a = a**b

In [0]:
str1 = "Good"
str2 = "Morning"
str1 += str2
print(str1)

GoodMorning

b = 10
a = -(b);

In [0]:
b = 10
a = -(b)
print(b)
print(a)

10
-10

In [0]:
print (" Hello"  * 5)
print ( 5      *      "Hello")

 Hello Hello Hello Hello Hello
HelloHelloHelloHelloHello

# **String operation**

In [0]:
str = ' Python is easy !!!'
print(str)
print(str[0])
print(str[3:9])
print(str[4:])
print(str[-1])
print(str[:5])
print(str * 2)
print(str +  "ISNT'T IT?")
print(str + "ISNT'T IT?")

 Python is easy !!!

thon i
hon is easy !!!
!
 Pyth
 Python is easy !!! Python is easy !!!
 Python is easy !!!ISNT'T IT?
 Python is easy !!!ISNT'T IT?

#                                  **OTHER DATA TYPES**
**TUPLES**
A tuple is similar to a list as it also contains a number of values separate by commas and enclosed within a parentheses

Program to demonstrate operations on a tuple

In [0]:
Tup = ('a', 'bc', 78, 1.23)
Tup2 = ('d', 78)
print(Tup)
print(Tup[0]) # Prints the first element of the Tuple
print(Tup[1:3]) # Prints elements starting from 2nd till 3rd
print(Tup[2:]) # Prints elements starting from 3rd element.
print(Tup * 2) #  Repeats the tuple 
print (Tup + Tup2) # concatenates two tuples

# LIST
A list consist of items separated by commas and enclosed within square brackets
One important distinction between array and the list is that, while array contains value of same data type, a list on the other hand, can have values belonging to different data types. 

The values stored in the list are accessed using indexes.  The index of the first element is 0 and that of the last element is n-1.

Program to demonstrate operations on list

In [0]:
list = ['a','bc', 78, 1.23 ]
list1 = ['d', 88]
print(list)
print(list[0])
print(list[1:3])
print(list[2:])
print(list *2)
print(list + list1)

# **DICTIONARY**
Stores Data in Key : Value pairs.  Key value is usually of string, value can be of any data type.  Each key value pair is separated from the other using** (:)** 
To access any value in the dictionary, you just need to specify its key in square braces ([]).  
**NOTE:** List and Dictionary are mutable data types meaning their values can be altered. 

Program to demonstrate use of a dictionary:

In [0]:
Dict = { "Item" : "Chocolate", "Price" : 100}
print(Dict["Item"])
print(Dict["Price"])

# TYPE CONVERSION
In python, it is just not possible to complete certain operations that involves different types of data. For example, it is not possible to perform "2" + 4 since one operand is an integer and other is of string type. 

Anothher situation in which type conversion is a must is whhen you want to accept a non string value ( int or float) as input.

In [0]:
x = int(input("Enter the first number :"))
y = int(input("Ennter the second number: "))
print(x + y)

Functions for Type Conversions:

int(x) --> Converts x to an integer
long(x) --> Converts x to a long integer
float(x) --> Converts x to a floating point number
str(x) -->  converts x to a string
tuple(x) -->  converts x to a tuple 
list(x)  -->  Converts x to a list
set(x) -->  converts x to a set
ord(x) -->  Converts a single character to its integer value
oct(x)  --> converts an integer to its octal string
hex(x) -->  converts an integer to hexadecimal string
chr(x) -->  converts an integer to a character
unichar(x) -->  converts an integer to a Unicode character
dict(x) -->  creates a dictionary if x forms a (key-value) pair. 


**Note ** To learn more about the function, you can read its documentation by using the help(). 

# **Programming Examples**

Write a program to enter a number & display its hex and octal equivalent and its square root

In [0]:
import string
num = int(input("Enter a number "))
print("Hexadecimal of " + str(num) + "   : " +str(hex(num)))
print("Octal of"  +       str(num) + "  :  " + str(oct(num)))
print("Square root of " + str(num) + " :  " + str(num**0.5))

Enter a number 100
Hexadecimal of 100   : 0x64
Octal of100  :  0o144
Square root of 100 :  10.0

Write a program to read and print values of variables of different data types.

In [0]:
import sys

num = int(input("Enter the value of num : "))
amt = float(input("Enter the value of amt : "))
pi = float(input("Enter the value of pi "))
code = repr(input("Enter the value of the code"))
msg = repr(input ("Enter the value of the message "))
population_of_india = int(input("Enter the value of population of India  "))

print("NUM =  " + repr(num) +  "\n AMT = " + repr(amt) +  "\n CODE = " + repr(code) + "\n POPULATION OF INDIA = " + repr(population_of_india) + "\n MESSAGE = " + repr(msg))

Enter the value of num : 100
Enter the value of amt : 879.87
Enter the value of pi 3.14
Enter the value of the codeG
Enter the value of the message HELLO
Enter the value of population of India  78954000000
NUM =  100
 AMT = 879.87
 CODE = "'G'"
 POPULATION OF INDIA = 78954000000
 MESSAGE = "'HELLO'"

write a program to calculate area of a triangle using Heron's formula

**Heron's formula = area = sqrt(S*(S-a) * (S-b) * (S-c))**

In [0]:
import string
import math

a= float(input("Enter the first side of the triangle:     "))
b= float(input("Enter the second side of the triangle :   "))
c= float(input("Enter the third side of the triangle:     "))

print(a,b,c)
S = (a+b+c)/2
area = (S*(S-a)*(S-b)*(S-c))**0.5
print("Area = " +str(area))

# Write a Program to calculate the distance between two points:

In [0]:
x1 = (int(input("Enter the x coordinate of the first point :    ")))
y1 = (int(input("Enter the y coordinate of the first point :    ")))
x2 = (int(input("Enter the x coordinate of the second point :    ")))
y2 = (int(input("Enter the y coordinate of the second point :    ")))

distance = ((x2-x1)**2+(y2-y1)**2)**0.5
print("Distance =  ")
print(distance)

Write a Program to perform addition, substraction, multiplication, division, integer division, and modulo division, on two integer numbers.

In [0]:
import string
import math

num1 = int(input("Enter two numbers :   "))
num2 = int(input("Enter two numbers :   "))
add_res = num1+num2
sub_res = num1-num2
mul_res = num1*num2
idiv_res = num1/num2
modiv_res = num1%num2
fdiv_res = float(num1)/num2

print(str(num1)+ " +  " +str(num2)+ " = " +str(add_res))
print(str(num1)+ " -  " +str(num2)+ " = " +str(sub_res))
print(str(num1)+ " *  " +str(num2)+ " = " +str(mul_res))
print(str(num1)+ " /  " +str(num2)+ " = " +str(idiv_res)+ "(Integer Division)")
print(str(num1)+ " //  "+str(num2)+ " = " +str(fdiv_res)+ "(Float Division)")
print(str(num1)+ " %  " +str(num2)+ " = " +str(idiv_res)+ "(Modulo Division)")

Write a Program to perform addition, substraction, multiplication, on two floating point numbers.

In [10]:
import string
import math

num1 = float(input("Enter two numbers :   "))
num2 = float(input("Enter two numbers :   "))
add_res = num1+num2
sub_res = num1-num2
mul_res = num1*num2
idiv_res = num1/num2

print(str(num1)+ " +  " +str(num2)+ " = " + "%.2f"%add_res)
print(str(num1)+ " -  " +str(num2)+ " = "+ "%.2f" %sub_res)
print(str(num1)+ " *  " +str(num2)+ " = " + "%.2f"%mul_res)

Enter two numbers :   14.22
Enter two numbers :   36.64
14.22 +  36.64 = 50.86
14.22 -  36.64 = -22.42
14.22 *  36.64 = 521.02

Write a Program to demonstrate the use of relational operators.

In [14]:
import string
import math

x = 20
y = 30

print(str(x)+" <  "+str(y)+" = "+str(x<y))
print(str(x)+" == "+str(y)+" = "+str(x==y))
print(str(x)+" != "+str(y)+" = "+str(x!=y))
print(str(x)+" >= "+str(y)+" = "+str(x>=y))
print(str(x)+" <= "+str(y)+" = "+str(x<=y))

20 <  30 = True
20 == 30 = False
20 != 30 = True
20 >= 30 = False
20 <= 30 = True

Write a program to calculate the area of a circle

In [0]:
import math



radius = float(input("Enter the radius of the circle :  "))
area = 3.14*radius*radius
circumference = 2*3.14*radius
print("AREA = "+str(round(area,2))+"\t CIRCUMFERENCE =  "+str(round(circumference,2)))

# Write a program to print the digit at ones place of a number

In [22]:
num = int(input("Enter any number:  "))
digit_at_ones_place = num%10
print("The digit at ones place of   " +str(num)+"  is  "+str(digit_at_ones_place))

Enter any number:  6789
The digit at ones place of   6789  is  9

# Write a Program to convert degrees fahrenheit into degrees celcius

In [24]:
fahrenheit = float(input("Enter the temperature in fahrenheit:  "))
celsius = (0.56)*(fahrenheit-32)
print("Temperature in degrees celsius = ",celsius)

Enter the temperature in fahrenheit:  100
Temperature in degrees celsius =  38.080000000000005