<a href="https://colab.research.google.com/github/vijendranp/Hello-World/blob/master/BasicsPythonProgramming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Unary Operators**

# write a program to print the fibonacci series

In [0]:
def fibonacci(n):
  if(n<2):
    return 1
  else:
    return (fibonacci(n-1)+fibonacci(n-2))

n = int(input("Enter the number of terms: "))
for i in range(n):
  print("Fibonacci(",i,") = ",fibonacci(i))

In [0]:
from math import pi
print("PI =  ",pi)

In [0]:
import math
from math import sqrt as square_root
print(square_root(81))

In [0]:
format(3**50, '.5e')

In [0]:
float(16/(float(3)))

In [0]:
format (float(16/(float(3))), '.2f')

Display data of different type using variable and literal constant

In [0]:
num = 7
amt = 124.55
code = 'A'
pi = 3.1415926536
population_of_india = 1000000000
msg = "Hi"

print("NUM = "+str(num))
print("\n AMT = " + str(amt))
print("\n CODE =" +str(code))
print("\n POPULATION OF INDIA = "+ str(population_of_india))
print("\n MESSAGE = "+str(msg))

Program to reassign values to variable

In [0]:
val = 'Hello'
print(val)
val = 100
print(val)
val = 12.34
print(val)
x = 5
y = 10
print('Hello')
print(x+y)

In [28]:
mesg = "Helo"
print(mesg)

Helo

In [30]:
mesg = "Hello";
print(mesg);

Hello

In [32]:
mesg = "Hello";
print(mesg)

Hello

In [0]:
name = input("What is your name?")
age = input(" Enter your age :")
print ( name + ", you are " + age + " years old")

# In Python indentation is used to associate and group statements.

In [0]:
a = 100
b = 200

print (a+b)
print(a-b)
print(a*b)
print(b/a)
print(b%a)
print(12//5)
print(12.0//5.0)
print(-19//5)
print(-20.0//3)
print(a**b)

Operator Description : 

=  c = a ,  assigns value of a to c 
a += is same as a = a + b
a -=  is same as a = a-b

a *=  is same as a = a * b

a /b is same as a = a / b

a % b is same as a = a % b

a//=b is same as a = a // b

a**b = b is same as a = a**b

In [0]:
str1 = "Good"
str2 = "Morning"
str1 += str2
print(str1)

GoodMorning

b = 10
a = -(b);

In [42]:
b = 10
a = -(b)
print(b)
print(a)

10
-10

In [46]:
print (" Hello"  * 5)
print ( 5      *      "Hello")

 Hello Hello Hello Hello Hello
HelloHelloHelloHelloHello

# **String operation**

In [47]:
str = ' Python is easy !!!'
print(str)
print(str[0])
print(str[3:9])
print(str[4:])
print(str[-1])
print(str[:5])
print(str * 2)
print(str +  "ISNT'T IT?")
print(str + "ISNT'T IT?")

 Python is easy !!!

thon i
hon is easy !!!
!
 Pyth
 Python is easy !!! Python is easy !!!
 Python is easy !!!ISNT'T IT?
 Python is easy !!!ISNT'T IT?

#                                  **OTHER DATA TYPES**
**TUPLES**
A tuple is similar to a list as it also contains a number of values separate by commas and enclosed within a parentheses

Program to demonstrate operations on a tuple

In [0]:
Tup = ('a', 'bc', 78, 1.23)
Tup2 = ('d', 78)
print(Tup)
print(Tup[0]) # Prints the first element of the Tuple
print(Tup[1:3]) # Prints elements starting from 2nd till 3rd
print(Tup[2:]) # Prints elements starting from 3rd element.
print(Tup * 2) #  Repeats the tuple 
print (Tup + Tup2) # concatenates two tuples

# LIST
A list consist of items separated by commas and enclosed within square brackets
One important distinction between array and the list is that, while array contains value of same data type, a list on the other hand, can have values belonging to different data types. 

The values stored in the list are accessed using indexes.  The index of the first element is 0 and that of the last element is n-1.

Program to demonstrate operations on list

In [0]:
list = ['a','bc', 78, 1.23 ]
list1 = ['d', 88]
print(list)
print(list[0])
print(list[1:3])
print(list[2:])
print(list *2)
print(list + list1)

# **DICTIONARY**
Stores Data in Key : Value pairs.  Key value is usually of string, value can be of any data type.  Each key value pair is separated from the other using** (:)** 
To access any value in the dictionary, you just need to specify its key in square braces ([]).  
**NOTE:** List and Dictionary are mutable data types meaning their values can be altered. 

Program to demonstrate use of a dictionary:

In [0]:
Dict = { "Item" : "Chocolate", "Price" : 100}
print(Dict["Item"])
print(Dict["Price"])

# TYPE CONVERSION
In python, it is just not possible to complete certain operations that involves different types of data. For example, it is not possible to perform "2" + 4 since one operand is an integer and other is of string type. 

Anothher situation in which type conversion is a must is whhen you want to accept a non string value ( int or float) as input.

In [0]:
x = int(input("Enter the first number :"))
y = int(input("Ennter the second number: "))
print(x + y)

Functions for Type Conversions: