<a href="https://colab.research.google.com/github/vijendranp/Hello-World/blob/master/Copy_of_PYTHON_STRING_MODULE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Functions as Objects**

Python treats functions as objects,  this means you can manipulate a function as any other object.  
This makes python strikingly different from other OOP languages like Java, C#.

Program to demonstrate that function is an object.

In [0]:
def func():
  """ The function prints HELLO WORLD ON screen""" 
print("HELLO WORLD")
print("Func is an instance of Object : ",isinstance(func,object))
print("ID(func): ", id(func))
print("Functions Docstring : ", func.__doc__) # prints docstring
print("Function Name :  ", func.__name__) # prints function name


# Note in above program isinstance() checks whether the function is an instance 
# of object.  

# The function id() goes a step ahead and returns the object's id.

HELLO WORLD
Func is an instance of Object :  True
ID(func):  140661047624976
Functions Docstring :   The function prints HELLO WORLD ON screen
Function Name :   func

Program to demonstrate that functions can be used as an argument to a function and can be stored in collection.

In [0]:
def func1():
  pass 

def func2():
  pass

def func3():
  pass

def func4(func):
  print("ID(Func) = ",id(func)) # prints object id of function

Funcs = (func1, func2, func3, func4) # func is a tuple of functions.

for i in Funcs:
  print(i)
  func4(i) # function as argument

<function func1 at 0x7fee33411730>
ID(Func) =  140661038847792
<function func2 at 0x7fee33411598>
ID(Func) =  140661038847384
<function func3 at 0x7fee33411840>
ID(Func) =  140661038848064
<function func4 at 0x7fee334118c8>
ID(Func) =  140661038848200

**TOWER OF HANOI**

Base case: if n=1
Move the ring from A to C using B as spare. 

Recursive case :
Move n -1 rings from A to B using C as spare. 
Move the one ring left on A to C using B as spare.  
Move n - 1 rings from B to C using A as spare. 

The following code implements the solution of the tower of Hanoi problem.

In [0]:
def hanoi (n,A,B,C):
  if n>0:
    hanoi(n-1, A,C,B)
    if A:
      C.append(A.pop())
    hanoi(n-1, B,A,C)
  
A =[1,2,3,4]
C= []
B =[]
hanoi(len(A),A,B,C)
print(A,B,C)

[] [] [1, 2, 3, 4]

**Shuffling a Deck of Cards**

In this program, we will use the product() contained in the itertools module 
to create a deck of cards. 

The product function performs the cartesian product of the two sequences.

Sequences are 1 to 13 and four suites. 

Each combination that forms a card is stored as a tuple.  
For example, deck[0] = (1,'Spade')

Once the deck is formed, it is shuffled using the shuffle() function 
in the random module and then five cards are drawn and their combination is displayed to the user.

In [0]:
import itertools, random
# Form a deck of cards

deck = list(itertools.product(range(1,14),['Spade','Heart','Diamond','Club']))
# shuffle the cards

random.shuffle(deck)

# Draw the five cards 

print("Your combination of cards is : ")

for i in range(4):
  print(deck[i][0],   "of",     deck[i],[1])

Your combination of cards is :
4 of (4, 'Diamond') [1]
1 of (1, 'Club') [1]
11 of (11, 'Diamond') [1]
1 of (1, 'Heart') [1]

# KEY CONCEPTS
**Appending, Concatenation, Multiplying String, String Formatting Operator
Built-in String Methods and Functions, Slice, subscript in and not in operators Comparing and Iterating Strings and The String Module. **

String data type is a sequence made up of one or more individual character, where a character culd be letter, digit, whitespace, or any other symbol.  

Python treats  string as contiguous series of characters delimited by a single, double or even triple quotes.  

Python has a built-in string class named "str" that has many useful features.  

name = "India"
country = name 

graduate = 'N'

nationality = str("Indian")

name, nationality, graduate are all string variable. 

String literals can be enclosed by either triple, double or single quotes.

A multiple line text within quotes must have a backslash \ at the end of each line to esape the new line. 

Indexing : Individual characters in a string are accessed using the subscript[] operators. The expressions in the bracket is called an index.  

The index specifies a member of an ordered set and in this case it specifies the character we want to access from the given set of characters in the string.  

Traversing a String : A string can be traversed by accessing characters from one index to another.  For example, the following uses indexing to traverse a string from the first character to the last.  

Program to demonstrate string traversal using indexing.

In [0]:
message = "Hello!"
index = 0
for i in message:
  print("message[",index, "] =  ",i)
index += 1

message[ 0 ] =   H
message[ 0 ] =   e
message[ 0 ] =   l
message[ 0 ] =   l
message[ 0 ] =   o
message[ 0 ] =   !

Program to demonstrate an expression used as an index of a string.

In [0]:
str = "Hello, welcome to the world of Python"
i = 2
print(str[i]) # index is an integer
print(str[i*3+1]) # index is an expression that evaluates to an integer

l
w

**NOTE : even whitespace characters, exclamation marks and any other symbol (like ?,<,>, *, @, #, etc) that forms a part of the string would be assigned its own index number.**


CONCATENATING, APPENDING AND MULTIPLYING STRINGS

In [0]:
str1 = "Hello"
str2 = " World"
str3 = str1 + str2 
print("The concatenation string is : ", str3)

The concatenation string is :  Hello World

Append means to add something at the end.  
**In python you can add one string at the end of another string using the += operator as shown as under**

In [0]:
str = "Hello,"
name = input("\n Enter your name ")
str += name 
str += "    Welcome to the Python Programming"
print(str)

 Enter your name Robbie
Hello,Robbie    Welcome to the Python Programming

You can use the repeat a string using * operator.

In [0]:
str = " Hello"
print(str * 3)

 Hello Hello Hello

**The str() function is used to convert values of any other type into string type.  This helps the programmer to concatenate a string with any other data which is otherwise not allowed**

In [0]:
import string
def __call__(self):
  str1 = "PythonisFun"
  bus = 8
str2 = str1 + str(bus)

print(str2)

TypeError: ignored

In [0]:
print ("Hello", end = ' ')
print("World")

Hello World

Program to print raw string.

In [0]:
print("\n Hello")
print(u"\n World")

# u prefix is used to write Unicode string literals.

 Hello

 World

**Strings are immutable**

Strings are immutable, which means that once created they cannot be changed. 
Every object in python is stored in memory.  We can find out whether two variables are referring to the same object or not by using the id().  


**Program to demonstrate string references using id() function.**

In [0]:
str1 = "Hello"
print("Str1 is :  ", str1)
print("ID of str1 is :  ", id(str1))


str2 = "World"
print("Str2 is :  ",str2)
print("ID of str1 is ", id(str2))

str1 += str2
print("Str1 after concatenation is :  ", str1)
print("ID of str1 is :  ",id(str1))

str3 = str1
print("str3 = ",str3)
print("ID of str3 is :  ",id(str3))

Str1 is :   Hello
ID of str1 is :   140000597515544
Str2 is :   World
ID of str1 is  140000597516104
Str1 after concatenation is :   HelloWorld
ID of str1 is :   140000597583152
str3 =  HelloWorld
ID of str3 is :   140000597583152

** From the above it is very clear that str1 and str2 are two different string objects with different values and have a different memory address.  When we concatenate str1 and str2, a new string is created because strings are immutable in nature. **

**We create a new string variable str3 and initialize it with str1. **  Since they both point to the same value, their address is exactly the same.

In [0]:
str = "hi"
str[0] = 'B'
print(str)

TypeError: ignored

In [0]:
str = " Hi"
new_str = "Bi"
print("Old String = ",str)
print("New String = ",new_str)

Old String =   Hi
New String =  Bi

**STRING FORMATTING OPERATOR**

The % operator takes a format string on the left ( that has %d, %s etc.) and the corresponding values in a tuple on the right.  

The format operator, % allows users to construct strings, replacing parts of the string with the data stored in variables.  

The syntax of the string formatting operation is : 

"<FORMAT>" % (<VALUES>)


The statement begins with a format string consisting of a sequence of characters and conversion specifications.  Conversion specification starts with a % operator and can appear anywhere within the string.

Following the format string is a % sign and then a set of values, one per conversion specification, separated by commas, and enclosed in parenthesis.  

If there is a single value then parenthesis is optional.  

**Program to use format sequence while printing a string**

In [0]:
name = "Aarish"
age = 8
print("Name is %s and Age = %d" %(name,age))
print("Name is %s and Age = %d" %("Anika",6))

Name is Aarish and Age = 8
Name is Anika and Age = 6

In the output, we can see that %s has been replaced by a string and %d has been replaced by an integer value.  

The values to be substituted are provided at the end of the line -- in brackets, prefixed by %. 


**Formatting Symbols**

%c        character
%d or %i  signed decimal integer
%s        string
%u        Unsigned decimal integer
%o        Octal integer
%x or %X  Hexadecimal integer (x for lower case character a-f and 
          X for uppercase character A-F)
%e or % E  Exponential notation 
%f         Floating point number 
%g or %G   Short numbers in floating point or exponential notation. 

Program to display power of a number without using formatting character.

In [0]:
i = 1
print("i\ti**2\ti**3\ti**4\ti**5\ti**6\ti**7\ti**8\ti**9\ti**10")
while i<=10:
  print(i, '\t', i**2,'\t', i**3,'\t', i**4, '\t', i**5, end = '  ')
  print('\t',i**6,'\t',i**7,'\t',i**8,'\t',i**9,'\t',i**10)
  i +=1

i	i**2	i**3	i**4	i**5	i**6	i**7	i**8	i**9	i**10
1 	 1 	 1 	 1 	 1  	 1 	 1 	 1 	 1 	 1
2 	 4 	 8 	 16 	 32  	 64 	 128 	 256 	 512 	 1024
3 	 9 	 27 	 81 	 243  	 729 	 2187 	 6561 	 19683 	 59049
4 	 16 	 64 	 256 	 1024  	 4096 	 16384 	 65536 	 262144 	 1048576
5 	 25 	 125 	 625 	 3125  	 15625 	 78125 	 390625 	 1953125 	 9765625
6 	 36 	 216 	 1296 	 7776  	 46656 	 279936 	 1679616 	 10077696 	 60466176
7 	 49 	 343 	 2401 	 16807  	 117649 	 823543 	 5764801 	 40353607 	 282475249
8 	 64 	 512 	 4096 	 32768  	 262144 	 2097152 	 16777216 	 134217728 	 1073741824
9 	 81 	 729 	 6561 	 59049  	 531441 	 4782969 	 43046721 	 387420489 	 3486784401
10 	 100 	 1000 	 10000 	 100000  	 1000000 	 10000000 	 100000000 	 1000000000 	 10000000000

Program to display power of a number using formatting character.

In [0]:
i = 1
print ("%-4s%-5%-6s%-8s%-9s%-12s%-15s%-17s%-19s%-21s%-23s%" \
       ('i','i**2','i**3','i**4','i**5','i**6','i**7','i**8','i**9','i**10'))
while i <= 10:
  print("%-4d%-5d%-6d%-8d%-9d%-12d%-15d%-17d%-19d%-21d%-23d%" %(i, i**2, i**3, i**4, i**5, i**6, i**7, i**8, i**9,i**10))
  i +=1

Strings are an example of Python objects. An object is an entity that contain both data (the actual string itself) as well as function to manipulate that data.

These functions are available to any instance(variable) of the object. 

Python supports many built-in methods to manipulate string.  A method is just like a function.

The only difference between a function and method is that a method is invoked or called on an object. 

For example, if the variable str is a string, then you can call the upper() method as str.upper() to convert all the characters of str in uppercase.


strip() : Removes all leading whitespace in string.

In [0]:
message = "JamesBond007"
print(message.isalnum())

True

ljust(width[,fillchar]) returns a string left justified to a total of width of columns.

Columns without characters are padded with the character specified in the fillchar argument.

In [0]:
str = "Hello"
print(str.ljust(10,'*'))

Hello*****

zfill(width)

Usage Returns string left padded with zeros to a total of width characters.
It is used with numbers and also retains its sign(+ or-)

In [0]:
str ="1234567"
print(str.zfill(15))

000000001234567

##replace(old,new[,max] replaces all or max (if given) occurences of an old in string with a new.

In [0]:
str = "hello hello hello"
print(str.replace("hel", "FOL"))

FOLlo FOLlo FOLlo

## swapcase()  : Toggles the case of every character (upper character becomes lowercase and viceversa)

In [0]:
str = " Python Programming is Fun and Easy"
print(str.swapcase())

 pYTHON pROGRAMMING IS fUN AND eASY

## split(delim)  Returns a *list* of substrings separated by the specified delimiter. If no delimiter is specified then by default it splits strings on all whitespace characters.

In [0]:
str = "zyx,wvu,tsr,qpo,nml,kjg,hfe,dcba"
print(str.split(','))

['zyx', 'wvu', 'tsr', 'qpo', 'nml', 'kjg', 'hfe', 'dcba']

identifier() Returns True if the string is a valid identifier.

In [0]:
import string
str = "Hello"
print(str.isidentifier())

True

##enumerate(str) Returns an enumerate object that lists the index and value
##of all the characters in the string as pairs.

In [0]:

str = "Hello World"
print(list(enumerate(str)))

[(0, 'H'), (1, 'e'), (2, 'l'), (3, 'l'), (4, 'o'), (5, ' '), (6, 'W'), (7, 'o'), (8, 'r'), (9, 'l'), (10, 'd')]

# Program to demonstrate strip method on a string object.

In [0]:
str = "abcdcbabcdcbabcdabcdbcabcdcba"
print(str.strip('abc'))

dcbabcdcbabcdabcdbcabcd

The format function used with string is a very versatile and powerful function used for formatting string.


Format strings have curly braces {} as placeholders or replacement fields which gets replaced.

We can even use positional arguments or keyword arguments to specify the order
of fields that have to be replaced.

Program to demonstrate the format() function.

In [0]:
str1 = " {}, {} and {}".format('Sun','Moon','Stars')
print("\n The default sequence of argument is : "  + str1)
str2 = " {1}, {0}   and   {2}".format('Sun','Moon','Stars')
print("\n The positional sequence of arguments (1,0 and 2) is : " + str2)
#str3 = ("{c}, {b} and {a}".format(a='Sun', b= 'Moon', c = 'Stars')
#print("\n The keyword sequence of argument is:  " + str3)

 The default sequence of argument is :  Sun, Moon and Stars

 The positional sequence of arguments (1,0 and 2) is :  Moon, Sun   and   Stars

The splitlines() returns a list of the lines in the string.  This method uses the new character like \r or \n to split lines.  

Line breaks are not included in the resulting list unless keepends is given as True.

The syntax of splitlines() is given as : 

str.splitlines([keepends])


In the syntax, keepends is optional.  Look at the code given below and observe its output,  both when keepends is specified as True and when keepends is not specified at all.

A substring of a string is called a slice.  The slice operation is used to refer
to sub part of sequences and strings.

You can take a subset of a string from the original string by using [] operator
also known as slicing operator.


The syntax of slice operation is s[start:end], where start specifies the
beginning index of the substring and end-1 is the index of the last character.

Programming Tip : Calling a method is also known as method invocation.

Note : Omitting either start or end index by default takes start or end of the string.

Omitting both the means the entire string.  

Program to demonstrate slice operation on string objects.

In [0]:
str = "MARGOTROBBIE"
print("str[1:5] = ", str[1:5]) # characters starting at index 1 and extending up
# to but not including index 5

print("str[:6] = ", str[:6]) # defaults to the start of the string
print("str[1:] = ", str[1:]) # defaults to the end of the string
print("str[:] = ", str[:]) # defaults to the entire string
print("str[1:20] = ", str[1:20]) # an index that is too big to be trucated down
# to the length of the string.

str[1:5] =  ARGO
str[:6] =  MARGOT
str[1:] =  ARGOTROBBIE
str[:] =  MARGOTROBBIE
str[1:20] =  ARGOTROBBIE

Python gives the flexibility to either access a string from the first character or from the last character.  
**   If we access the string from the first character then we use a zero based index, but when doing it backward the index starts with -1**

Python uses negative numbers to access the characters at the end of the string.  Negative index numbers count back from the end of the string. 

Program to understand how characters in a string are accessed using negative indexes.

In [0]:
str = "IRONMAN"
print("str[-1]  = ", str[-1]) # last character is accessed
print("str[-6]  = ", str[-6]) # last character is accessed
print("str[-2]  = ", str[-2])
print("str[-5:-2]  = ", str[-5:-2])

str[-1]  =  N
str[-6]  =  R
str[-2]  =  A
str[-5:-2]  =  ONM

**Specifying Stride While Slicing String **

In the slice operation, you can specify a third argument as the stride, which refers to the number of characters to move forward after the first character is retrieved from the string.  The default value of stride is 1. 

Where the value of the stride is not specified its default value of 1 is used which means that every character between two index number is retrieved.  

Program to use the slice operation with stride.

In [0]:

str = "Welcome to the world of Programming" 
print("str[2:10]  = ", str[2:10]) # default stride is one
print("str[2:10:1]  = ", str[2:10:1]) # same as stride one
print("str[2:10:2]  = ", str[2:10:2]) # skips every alternate character
print("str[2:13:4]  = ", str[2:10:4]) # skips every fourth character

str[2:10]  =  lcome to
str[2:10:1]  =  lcome to
str[2:10:2]  =  loet
str[2:13:4]  =  le

** Note : That even the whitespace characters are skipped, as they are part of string.**

If you omit the first two arguments and only specify the third one, then the entire string is used in steps

**Program to demonstrate splice operation with just last (positive) argument **

In [0]:
str = " Hi! Welcome to the world of programming in Python"
print("str[::3] = ",str[::3])

str[::3] =   !eo  eodfrrmgnyo

Program to demonstrate splice operation with just last (negative) argument.

In [0]:
str = "Hi! Welcome to the world of programming in Python"
print("str[::1] =  ", str[::-1])

str[::1] =   nohtyP ni gnimmargorp fo dlrow eht ot emocleW !iH

In the above example we have considered the entire original string, reversed it through the negative stride and with a stride of -3, we have skipped every third letter of the reversed string.  

Program to print the string in reverse thereby skipping every third character.

In [0]:
str = "Hi! Welcome to the world of programming in Python"
print("str[::-3] =  ", str[::-1])

str[::-3] =   nohtyP ni gnimmargorp fo dlrow eht ot emocleW !iH

## **ord() AND chr() FUNCTIONS**

The ord() functions returns the ASCII code of the character and the chr() function returns character represented by a ASCII number.  Consider the following examples:

In [0]:
ch = 'R'
print(ord(ch))

print(chr(82))

print(chr(112))

print(ord('p'))

82
R
p
112

**in AND not in OPERATORS**

in and not in operators can be used with string to determine whether a string is present in another string.  

Therefore, the in and not in operator are also known as **membership operators**

In [0]:
str1 = "Welcome to the world of Python Programming"
str2 = "the"

if str2 in str1:
  print('Found')
else:
  print('Not Found')

Found

In [0]:
str1 = " This is a very good book"
str2 = "best"
if str2 not in str1:
  print("The book is very good but it may not be the best one.")
else:
  print("It is the best book.")

The book is very good but it may not be the best one.

**COMPARING STRINGS**

Python allows you to compare strings using relational operators such as >, <, <=, etc.  

**These operators compare the strings by using the lexicographical order i.e. using ASCII value of the characters.  The ASCII values of A-Z is 65-90 and ASCII code for a-z is 97-122. This means that book is greater than Book because the ASCII value of 'b' is 98 and 'B' is 68**

**NOTE: String values are ordered using lexicographical (dictionary) ordering.  The lexicographical order is similar to the alphabetical order that is used with a dictionary, except that all the upper case letters come before the lower case letters. For example, Andy is less than Ben, as the ASCII value for 'A' is 65 and 'B' is 66**


# ITERATING STRING

String is a sequence type (sequence of characters).  You can iterate through the string using for loop as shown in the code given below:

In [0]:
str = " Hi Programming is Fun"
for i in str:
  print(i, end= '   ')

    H   i       P   r   o   g   r   a   m   m   i   n   g       i   s       F   u   n

Program to iterate a given string using while loop.

In [0]:
message = " Hi There Python Programming is Fun"
index = 0
while index < len(message):
  letter = message[index]
  print(letter, end=' ')
  index += 1

  H i   T h e r e   P y t h o n   P r o g r a m m i n g   i s   F u n

In the above program the loop traverses the string and displays each letter.  
The loop condition index < len(message), so the moment index becomes equal to the length of the string, the condition evaluates to False, and as the body of the loop is not executed.  The index of the last character is len(message)-1.

**You can iterate through a string either using an index or by using each character in the string.


# Uses character to iterate:

In [0]:
def copy(str):
  new_str = ' '
  for i in str:
    new_str += i
  return new_str

str = input("\n Enter the string : ")
print("\n  The copied string is :   ", copy(str))

 Enter the string : Kangaroo

  The copied string is :     Kangaroo

# Uses index of character to iterate

In [0]:
def copy(str):
  new_str = ' '
  for i in range(len(str)):
    new_str += str[i]
  return new_str

str = input("\n Enter a string : ")
print("\ The copied string is : ", copy(str))

**=Write a program to print the following **

In [0]:
for i in range(1,7):
  ch = 'A'
  print()
  for j in range(1,i+1):
    print(ch, end=' ')
    ch = chr(ord(ch)+1)

A
A B
A B C
A B C D
A B C D E
A B C D E F

Write a program that take user's name and SOCIAL SECURITY NUMBER number as input.  

Validate the information using isX function and print the details. 

*   List item
*   List item

In [0]:
while(1):
  name = input("\n Enter your name: ")
  if name.isalpha() == False:
    print("Invalid Name, Sorry you cannot proceed.")
    break
  else:
    soc_sec_no = input("\n Enter your SOCIAL SECURITY Number:   ")
    if soc_sec_no.isalnum() == False:
      print("Invalid SOCIAL SECURITY NUMBER, Sorry you cannot proceed")
      break
  print("Please check,   "+name+", your SOCIAL SECURITY number is : "+soc_sec_no)
  break

**Write a program that encrypts a message by adding a key value to every character.  (Caesar Cipher)**

Hint : Say, if key = 3, then add 3 to every character.

In [0]:
message = "HelloWorld"
index = 0 
while index < len(message):
  letter = message[index]
  print(chr(ord(letter) + 3), end= '  ')
  index += 1

K  h  o  o  r  Z  r  u  o  g

Write a program that uses split() to split a multiline string.

In [0]:
letter = ''' Dear Student,
I am pleased to inform you that, 
there is a workshop on Python in college tomorrow.
Everyone should come and 
there will also be a quiz in Python, whosoever wins
will win a Gold Medal...'''

print(letter.split('\n'))

[' Dear Student,', 'I am pleased to inform you that, ', 'there is a workshop on Python in college tomorrow.', 'Everyone should come and ', 'there will also be a quiz in Python, whosoever wins', 'will win a Gold Medal...']

Write a program to generate an Abecedarian series. 

Hint : Abecedarian series refers to a series or list in which the elements appear in alphabetical order.

In [0]:
str1 = 'ABCDEFGH'
str2 = 'ate'
for letter in str1:
  print((letter + str2), end='  ')

Aate  Bate  Cate  Date  Eate  Fate  Gate  Hate

Write a program that accepts a string from user and redisplays the same string after removing vowels from it.

In [0]:
def remove_vowels(s):
  new_str = " "
  for i in s:
    if i in "aeiouAEIOU":
      pass
    else:
      new_str += i
  print(" The string without vowels is :  ", new_str)
str = input("\n Enter a string :  ")
remove_vowels(str)

Write a program that finds whether a given character is present in a string or not.  In case it is present it prints the index at which it is present.  Do not use built-in find functions to search the character.

In [0]:
def find_ch(s,c):
  index = 0
  while (index < len(s)):
    if s[index] == c:
      print(c, "found in string at index:   ",index)
      return
    else:
      pass
    index += 1
  print(c," is not present in the string")

str = input("\n Enter a string")
ch = input("\n Enter the character to be searched:  ")
find_ch(str,ch)

 Enter a stringIndex numbers allows us to access

 Enter the character to be searched:  s
s found in string at index:    12

Write a program that emulates the rfind function.

In [0]:
def rfind_ch(s,c):
  index = len(s)-1
  while index>=0:
    if s[index] ==c:
      return index
    index = index -1
    return -1
str = input("\n Enter a string:   ")
ch = input("\n Enter the character to be searched:  ")
index = rfind_ch(str,ch)
if index != -1:
  print(ch, " is found at location", index)
else:
  print(ch, "is not present in the string")

 Enter a string:   Let us study python

 Enter the character to be searched:  s
s is not present in the string

In [0]:
import math
math.pi * (5 **2)
math.hypot(5,12)
math.modf(13.743)

(0.7430000000000003, 13.0)

In [0]:
import decimal 
a = decimal.Decimal(9876)
b = decimal.Decimal("54321.012345678987654321")
c = a+b
print(c)

64197.012345678987654321

Write a program that counts the occurence of a character in a string.  Do not use built-in count function.

In [0]:
def count_ch(s,c):
  count = 0
  for i in s:
    if i == c:
      count += 1
  return count

str = input("\n Enter a string : ")
ch = input("\n Enter the character to be searched : ")
count = count_ch(str,ch)
print("In",str,ch,"occurs",count, "times")

 Enter a string : Beautiful Fruits

 Enter the character to be searched : a
In Beautiful Fruits a occurs 1 times

In [0]:
def count_ch(s, c, beg=0):
  count = 0
  index = beg 
  while index < len(s):
    if s[index] ==c:
      count += 1
    index += 1
  return count
str = input("\Enter a string: ")
ch = input("\n Enter the character to be searched :   ")
count = count_ch(str,ch)
print("In", str, ch, "occurs",count, "times from the beginning to end")
loc = int(input("\n From which position do you want to start counting:  "))
count = count_ch(str,ch,loc)
print("In",str,ch,"occurs",count,"times from position",loc," to end")

Write a program to reverse a string.

In [0]:
def reverse(str):
  new_str = ' '
  i = len(str)-1
  while i >=0:
    new_str += str[i]
    i -= 1
  return new_str

str = input("\n Enter a String : ")
print("\n The reversed string is : ",reverse(str))

 Enter a String : computerscience

 The reversed string is :   ecneicsretupmoc

write a program to parse an email id to print from which email server it was sent and when

In [0]:
info = 'From rajesh.pai@gmail.com Sun Nov 26 18:39:38 2018'

start = info.find('@') + 1 # Extract characters after @ symbols
end = info.find(".com") + 4 # Extract till m, find return index of m. 
mailserver = info[start:end] # extract characters

start = end + 1   # Ignore whitespace
end = len(info) -1 # Extract till last character
date_time = info[start:end]

print("The email has been sent through "+ mailserver)
print(" It was sent on "+date_time)

The email has been sent through gmail.com
 It was sent on Sun Nov 26 18:39:38 201

In [0]:
import string
print(type(string.digits))

<class 'str'>

In [0]:
import string
print(string.ascii_letters)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

In [0]:
import string
print(string.digits)

0123456789