<a href="https://colab.research.google.com/github/vijendranp/Hello-World/blob/master/Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**CREATING, ACCESSING, UPDATING & CLONING LISTS**
**CREATING, ACCESSING, UPDATING & DELETING TUPLES**
**WORKIG WITH SETS & DICTIONARIES**
** LISTS & DICTIONARY COMPREHENSIONS**
**NESTED LISTS, SETS, TUPLES & DICTIONARIES**

**DATA STRUCTURE : ** A datastructure is a group of data elements that are put together under one name.

A data structure defines a particular way of storing & organizing data in a computer for efficient retrieval. 

The Data structures are compound data structures, as they are made of simple elements.  


**SEQUENCE:** is the most basic data structure in Python, where each element has a specifix index, whose value starts from zero and automatically incremented for next element in the sequence.  

**Python has some basic built-in functions that help programmers manipulate elements that form a part of sequence.  These include : 
*   Finding length of the sequence, 
*   Finding largest and smallest element
*   operations such as indexing, slicing, adding, multiplying and checking    
    # for membership. 


**SEQUENCE:** is a versatile data-type in Python.  It is a sequence in which elements are written as a list of comma separated values (items) between square brackets.  **The key feature is that it can have elements that belongs to different data types. **

**SYNTAX:
List_variable = [val1,val2,......]
**

Access values in a list.

In [0]:
seq = List[start:stop:step]
seq = List[::2] # get every other element, starting with index 0
seq = List[1::2] # get every other element, starting with index 1

Program to demonstrate the slice operations used to access the elements of the list.

In [0]:
num_list = [1,2,3,4,5,6,7,8,9,10]
print("num_list is :  ", num_list)
print("The first element in the num_list is :  ", num_list[0])
print("num_list is [2:5] :  ", num_list[2:5])
print("num_list is :[::2]  ", num_list[::2])
print("num_list is [1::3]:  ", num_list[1::3])

num_list is :   [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
The first element in the num_list is :   1
num_list is [2:5] :   [3, 4, 5]
num_list is :[::2]   [1, 3, 5, 7, 9]
num_list is [1::3]:   [2, 5, 8]

**Updating the value in the list:**
Once created, one or more elements of a list can be easily updated by giving the slice on the left-hand-side of the assignment operator and also by appending new values in the list and removing existing values(s) from the list append() method and del statement respectively.

In [0]:
num_list = [1,2,3,4,5,6,7,8,9,10]
print("num_list is :  ", num_list)
num_list[5] = 140
print("num_list after updating is:  ", num_list)
num_list.append(400)
print("num_list after appending is", num_list)
del num_list[3]
print("List after deleting the value is ", num_list)

num_list is :   [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num_list after updating is:   [1, 2, 3, 4, 5, 140, 7, 8, 9, 10]
num_list after appending is [1, 2, 3, 4, 5, 140, 7, 8, 9, 10, 400]
List after deleting the value is  [1, 2, 3, 5, 140, 7, 8, 9, 10, 400]

Program to illustrate deletion of numbers from a list using del statement.

In [0]:
num_list = [1,2,3,4,5,6,7,8,9,10]
del num_list[2:4] # deletes numbers at index 2 & 3 
print(num_list)

[1, 2, 5, 6, 7, 8, 9, 10]

**Program to insert a list in another list using the slice operation**

In [0]:
num_list = [2,10,12,14,16]
print("Original list is :  ", num_list)
num_list[2] = [4,6,8]
print("After inserting another list, the updated num_list is :  ", num_list)

Original list is :   [2, 10, 12, 14, 16]
After inserting another list, the updated num_list is :   [2, 10, [4, 6, 8], 14, 16]

**Nested Numlist** Means list within another list. In following code list1 has another list at index 4.

**Hint** You can specify an element in the nested list by using set of indices.

In [0]:
list1 = [2, 'b',"xyz", [3,4,5,6], 9.9]
i = 0
while i <(len(list1)):
  print("List[",i,"] = ", list1[i])
  i+=1

List[ 0 ] =  2
List[ 1 ] =  b
List[ 2 ] =  xyz
List[ 3 ] =  [3, 4, 5, 6]
List[ 4 ] =  9.9

Program to create a copy as well as the clone of the original list.

In [0]:
list1= [2,4,6,8,10,12,14,16]
list2 = list1
print("List1 =  ",list1)
print("List2 =  ",list2)
list3 = list1[3:7]
print("List 3 =   ",list3)

List1 =   [2, 4, 6, 8, 10, 12, 14, 16]
List2 =   [2, 4, 6, 8, 10, 12, 14, 16]
List 3 =    [8, 10, 12, 14]

In [0]:
import sys
list = [2,4,6,8,10,12,14,16,18,20]
it = iter(list) # builds an iter object 
while True:
  try:
    print(next(it), end=' ')
  except StopIteration:
    print("\t All the elements have been accessed...... no more elements")
    sys.exit()

**Basic List Operation**
**Operation**            **Description**

len :-->  Returns the length of the list. 

concatenation :-->  Repeats the elements in the list

in "-->  check if the value is present in the list. 

not in :-->  Check if the value is not present in the list. 

max :-->  Returns maximum value in the list. 

min :-->  Returns minimum value in the list.  

sum :-->  Adds the values in the list that has numbers.  

all :-->  Returns true if all elements of the list are true.  

any :-->  Returns true if any element of the list is true. If empty returns false.

**list :-->  converts an iterable (tuple, string, set, dictionary) to a list.**

sorted :-->  Returns a sorted list.  The original list is not sorted.  




**Program to demonstrate indexing, slicing and other operations**

In [0]:
list_A = ["Hello", "Hi", "There", "Welcome", "To", "World", "Of", "Python"]
print(list_A[2])
print(list_A[-4])
print(list_A[1:])

There
To
['Hi', 'There', 'Welcome', 'To', 'World', 'Of', 'Python']

**List Methods**

**Method**    **Description** 

append() :  Appends an element to the list.  In insert(), if the index is 0, then element is inserted as *the* first element and if we write, list.insert(len(list), then it inserts obj as the last element in the list. 

That is if index= len(list) then insert() method behaves exactly same as append() method. 

**Syntax: list.append(obj)*

In [0]:
num_list = [6,3,7,0,2,4,8,7]
num_list.append(14)
print(num_list)

[6, 3, 7, 0, 2, 4, 8, 7, 14]

**List Methods**
**COUNT** Counts the number of times an element appears in the list. 

**Syntax: list.count(obj)**

**List Methods**
**INDEX** Counts the number of times an element appears in the list. 

**index(): list.index(obj)**

---

In [0]:
num_list = [6,3,7,0,2,4,8,6,4,7]
print(num_list.index(8))  # it return the value of the object.

6

**List Methods**
**INSERT** Counts the number of times an element appears in the list. 

**insert(): list.insert(index,obj)**, 

**remove() : removes or deletes the object from list. list.remove(obj) **

**sort() : Sorts the elements in the list** **list.sort()**

** Key point**: insert, remove and sort methods only modify the list and do not return any value.

In [0]:
num_list = [6,3,7,0,2,4,8,6,4,7]
num_list.insert(4,200)
num_list.remove(0)
num_list.sort()
print(num_list)

[2, 3, 4, 4, 6, 6, 7, 7, 8, 200]

**List Methods**

**pop():** Removes the element at the specified index from the list.  Index is optional parameter.  If no index is specified, then removes the last object or element from the list 

**Syntax : list.remove(obj)** 

**reverse() : reverses the elements from list.

**Syntax :  list.reverse()**

**extend()** : Adds the elements in the list to the end of another list.

**Syntax:   list1.extend(list2)**

**Key point: insert, remove and sort methods only modify the list and do not return any value**.

In [0]:
num_list = [6,3,7,0,2,4,8,6,4,7] # since no parameter is specified removes last.
# num_list.pop()
#num_list.sort()
num_list.reverse()
print(num_list)

[7, 4, 6, 8, 4, 2, 0, 7, 3, 6]

In [0]:
num_list1 = [11,12,13,14,15,16,17,18,19]
num_list2 = [1,2,3,4,5,6,7,8,9,10]
num_list2.extend(num_list1)
print(num_list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

To print the return values:

In [0]:
num_list = [11,12,13,14,15,16,17,18,19]
print(num_list.insert(3,455))

None

**When one list is assigned to another list using the assignment operator(=) then a new copy of the list is not made.  Instead assignment makes the two variable point to the one in list memory. This is also known as Aliasing**

It is always safer to avoid aliasing when working with mutable objects.

Program that uses the assignment operator to assign one list to another list variable.

In [0]:
num_list1 = [11,12,13,14,15,16,17,18,19]
num_list2 = num_list1
print(num_list2)

[11, 12, 13, 14, 15, 16, 17, 18, 19]

In above code, two lists point to the same memory location but are identified using two different names.  This means that two lists are aliased.  

**Note: An alias is a second name for a piece of data.  In python, aliasing happens whenever one variable value is assigned to another variable. **


**Note: The sort() method uses ASCII values to sort the values in the list.  This means that the uppercase letters comes before the lower case letter The functionality of the sort() method is clearly from the given below code.**

In [0]:
list1 = ['1', 'a', "abc", '2', 'B', "Def"]
list1.sort()
print(list1)

['1', '2', 'B', 'Def', 'a', 'abc']

Items in list can also be deleted by assigning an empty list to slice of elements.

In [0]:
list = ['p','r','o','g','r','a','m']
list[2:5]=[]
print(list)

['p', 'r', 'a', 'm']

**STACK: is an important data structure which stores elements in an ordered manner.**

**Stack is a linear data structure, which uses the principle Last in First Out**

Program to illustrate operations on a stack.

In [0]:
stack = [7,8,9,5,4,3,2]
print("Original stack is : ",stack)
stack.append(12)
print("Stack after push operation is ",stack)
stack.pop()
print("Stack after pop operation is ",stack)
last_element_index = len(stack)-1
print("Value obtained after peep operation is: ",stack[last_element_index])

Original stack is :  [7, 8, 9, 5, 4, 3, 2]
Stack after push operation is  [7, 8, 9, 5, 4, 3, 2, 12]
Stack after pop operation is  [7, 8, 9, 5, 4, 3, 2]
Value obtained after peep operation is:  2

**Using Lists as Queues**

Queue is an important data structure which stores its elements in an ordered manner.  People waiting for bus, people moving in escalator, cars lined at toll

A queue is a First in First out data structure in which the elements that is inserted first is the first one to be taken out.  



**Program to show implementation of a Queue using list data structure**

In [0]:
queue = [5,6,7,8,9,10]
print("Original queue is :", queue)
queue.append(13)
print("Original queue after appending is :", queue)
queue.pop(0)
print("Queue after deletion is :", queue)
print("Value obtained after peep operation is :",queue[(len(queue)-1)])

Original queue is : [5, 6, 7, 8, 9, 10]
Original queue after appending is : [5, 6, 7, 8, 9, 10, 13]
Queue after deletion is : [6, 7, 8, 9, 10, 13]
Value obtained after peep operation is : 13

**List Comprehension**
Program to make a list of cubes using comprehension: 

Python supports computed list called list comprehensions having the following syntax: 

List = [expression for variable in sequence] 
List comprhension help programmers to crease lists in a concise way.  
This is mainly beneficial to make new list where each element is obtained by applying some operations to each member of another sequence or iterable.  List comprehensions is also used to create a subsequence of those elements that satisfy certain condition.  


**Note : An iterable is an object that can be used repeatedly in subsequence loops statements for example for loop**

In [0]:
cubes = [i**3 for i in range(11)]
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

program to combine and print elements of two lists using the list comprehension

In [0]:
print([(x,y) for x in [10,20,30] for y in [30,10,40] if x !=y])

[(10, 30), (10, 40), (20, 30), (20, 10), (20, 40), (30, 10), (30, 40)]

In the above code, two values, one from each list is used to reate a new list only if two values are not same.  


**Looping in List :**
** Python for and in constructs** are extremely useful when working with lists.  The for var in list statement is an easy way to access each element in a list ( or for any other sequence).  

the following code, the for loop is used to access each item in list. 

for i in list:
  print(i)


program to find the sum and mean of elements in a list.

In [0]:
queue = [1,2,3,4,5,6,7,8,9,10]
sum = 0 
for i in queue:
  sum+= i
print("Sum of elements in the  queue is :", sum)
print("Average of elements in the list = ",float(sum/float(len(queue))))

Sum of elements in the  queue is : 55
Average of elements in the list =  5.5

Program to make a list of cubes.

In [0]:
cubes = [] # en empty list
for i in range(11):
  cubes.append(i**3)
print("Cubes of numbers from 1-10: ",cubes)

Cubes of numbers from 1-10:  [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

Program to illustrate the user of enumerator() to print an individual item and its index in the list.

In [0]:
queue = [5,6,7,8,9,10]
for index, i in enumerate(queue):
  print(i,"is at index:", index)

5 is at index: 0
6 is at index: 1
7 is at index: 2
8 is at index: 3
9 is at index: 4
10 is at index: 5

**Using the range() function:  If you need to print index, then you can use the range() function **

In [0]:
queue = [5,6,7,8,9,10]
for i in range(len(queue)):
  print("index :", i)

index : 0
index : 1
index : 2
index : 3
index : 4
index : 5

**Using an iterator: **
You can create an iterator using the built-in iter() function.  The iterator is used to loop over the elements of the list.  

For this, the iterator fetches the value and then automatically points to the next element in the list when it is used with the next () method

Program to prinnt the elements in the list using an iterator.

In [0]:
queue = [5,6,7,8,9,10]
it = iter(queue)
for i in range(len(queue)):
  print("Element at index is: " , i, "is : ",next(it))

Element at index is:  0 is :  5
Element at index is:  1 is :  6
Element at index is:  2 is :  7
Element at index is:  3 is :  8
Element at index is:  4 is :  9
Element at index is:  5 is :  10

**Note: An iterator is often used to wrap an iterable and return each item of interest.  All iterators are iterable, but all iterables are not iterators.

An iterator can only be used in a single for loop, whereas an iterable can be used repeatedly in subsequent loops.**

**Functional Programming:**
Functional programming decomposes a problem into a set of functions.  The map(), filter() and reduce() function forms a part of functional programming that work on all list items.  

**filter() function**
The filter() functioni constructs a list from those elements of the list for which a function returns true.  
**Syntax** 
**filter(function,sequence)**

**Tip** Do not add or remove elements from the list during iteration.

As per the syntax, the filter() function returns a sequence that contains items from the sequence for which the function is True.  If sequence is a string, Unicode or a tuple, then the result will be of the same type; otherwise it is always a list: 


Program to create a list of number divisible by 4 & 8 using list comprehension

In [0]:
def check(x):
    if (x % 4 == 0 or x % 8 ==0):
        return 1
evens = list(filter(check, range(2,48)))
print(evens)

**The map() function:**

The map function applies a particular function to every element of a list.  Its syntax is th same as filter function. 

**map (function, sequence)**
After applying the specified function on the sequence, the map() function returns the modified list.  The map() function calls function(item) for each item and returns a list of the return values.  

**Program that adds 2 to every value in the list**

In [0]:
def add_2(x):
  x+=2
  return x
num_list = [8,9,10,11,12,13,14]
print("Original List is : ",num_list)
new_list = list(map(add_2, num_list))
print("Modified List is ", new_list)

('Original List is : ', [8, 9, 10, 11, 12, 13, 14])
('Modified List is ', [10, 11, 12, 13, 14, 15, 16])

In the above code, the map() function calls add_2() which adds 2 to every value in the list.  You can even pass more than one sequence in the map() function.  But in this case, remember two things: 

First, the function must have as many arguments as there are sequences.
Second, each argument is called with the corresponding item from each sequence


**Program to pass more than one sequence to the map() function**

In [0]:
def add(x,y):
  return x+y
list1 = [6,7,8,9,10]
list2 =[11,12,13,14,15]
list3 =list(map(add,list1,list2))
print("Sum of   ", list1, "and ", list2, " =  ",list3)

('Sum of   ', [6, 7, 8, 9, 10], 'and ', [11, 12, 13, 14, 15], ' =  ', [17, 19, 21, 23, 25])

**Reduce() function** 

The reduce function returns a single value generated by calling the function on the first two items of the sequence, then on the result and the next item, and so on.  **Syntax**:

reduce(function, sequence)

Calculate the sum of values in a list using the reduce() function

In [23]:
import functools
def add(x,y):
  return x+y
num_list = [6,7,8,9,10]
print("Sum of values in list =  ")
print(functools.reduce(add, num_list))

Sum of values in list =
40

**Important points: **
*   If there is only one item in the sequence, then its value is returned. 
*   If the sequence is empty, an exception is raised.
*   Creating a list in a very extensive range will generate a Memory Error or OverflowError.  
*   List = [5*i for i in range(100**100) 


**Programming Examples**

Write a program that creates a list of numbers from 1-20 that are either divisible by 4 or 8 without using the filter function.

In [24]:
div_4_8 = []
for i in range(2,44):
  if(i%4 ==0 or i%8==0):
    div_4_8.append(i)
print(div_4_8)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

Write a program using filter function to a list of squares of numbers from 1-15.  Then use the for  ..... in construct to sum the elements in the list generated.

In [0]:
def square(x):
  return(x**2)
square =[]
square =list(filter(square,range(1,16)))
#  the filter () constructs a list from those elements of the list for which a function returns True. 
print("List of squares in the range  of 1-15 :",square)
sum = 0 
for i in square:
  sum += i
print("Sum of squares in the range of 1-15",sum)

Write a program to create a list of numbers in the range of 1-20.  Then delete all the even numbers from the list and print final list.

In [30]:
num_list = [] 
for i in range (1,21):
  num_list.append(i)
print("Original List : ", num_list)
for index, i in enumerate(num_list): # The enumerate function is used when you 
  if(i%2==0):       # want to print both index as well as item in list.
    del num_list[index]
print("List after deleting even numbers : ",num_list)

Original List :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
List after deleting even numbers :  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

**Using the range () function**
If you need to print index, then you can use the range() function.

Program to print the index of values in a list.

In [31]:
num_list = [6,7,8,9,10,11]
for i in range(len(num_list)):
  print("index :  ",i)

index :   0
index :   1
index :   2
index :   3
index :   4
index :   5

**Write a program to print index at which a particular value exists.  If the value exists at multiple location in the list, then print all the indices.  Also count the number of times that value is repeated in the list.**

In [33]:
num_list =[11,12,13,14,15,16,15,14,13,12,11]
num =int(input("Enter the value to be searched: : "))
i = 0
count = 0
while i<len(num_list):
  if num == num_list[i]:  # if no is found in the list with index.
    print(num, " found at location",i)
    count += 1
  i += 1
print(num, " appears", count, "times in the list")

Enter the value to be searched: : 13
13  found at location 2
13  found at location 8
13  appears 2 times in the list

Write a program that creates a list of words by combining the words in two individual list.

In [36]:
list_words = [] 
for x in ["Hello  ", "World   "]:
  for y in ["Python   ", "Programming   "]:
    word = x + y
    list_words.append(word)
print("List combining the words in two individuals list is :  ",list_words)

List combining the words in two individuals list is :   ['Hello  Python   ', 'Hello  Programming   ', 'World   Python   ', 'World   Programming   ']

Write a program that forms a list of first character of every word in another list.

In [40]:
list1 = ["Hello", "Hi", "There", "Welcome", "To", "World", "Of", "Programming"]
letters=[]
for word in list1:
  letters.append(word[0])
print(letters)

['H', 'H', 'T', 'W', 'T', 'W', 'O', 'P']

write a program to remove all duplicates from a list.

In [41]:
num_list =[11,12,13,14,15,16,15,14,13,12,11]
print("Original List: ",num_list)
i =0  # next use of while and for loop
while i<len(num_list): # two lists num_list[i] & [j]
  num = num_list[i]
  for j in range(i+1, len(num_list)):
    val = num_list[j]
    if val == num:
      num_list.pop(j)
  i = i +1

print(" List after removing duplicates :", num_list)

# while loop is to iterate over the elements of  i 
# for loop is to iterate over the already found i plus one 
# if is used to compare num [i] and val [j] and delete duplicate element [j]

Original List:  [11, 12, 13, 14, 15, 16, 15, 14, 13, 12, 11]
 List after removing duplicates : [11, 12, 13, 14, 15, 16]

Write a program to create a list of numbers in the specified range in particular steps.  Reverse the list and print its value.

In [42]:
num_list =[]
m = int(input("Enter the starting of the range :  "))
n = int(input("Enter the ending of the range :  "))
o = int(input("Enter the steps of the range :  "))
for i in range(m,n,o):
  num_list.append(i)
print("Original List : ", num_list)
num_list.reverse()
print("Reversed List : ",num_list)

Enter the starting of the range :  10
Enter the ending of the range :  100
Enter the steps of the range :  6
Original List :  [10, 16, 22, 28, 34, 40, 46, 52, 58, 64, 70, 76, 82, 88, 94]
Reversed List :  [94, 88, 82, 76, 70, 64, 58, 52, 46, 40, 34, 28, 22, 16, 10]

Write a program that creates a list of 20 random integers.  Then creates two list.  Odd list and Even list that has all and even values in the list respectively.

In [43]:
import random
num_list=[]
for i in range(20):
  val = random.randint(1,200)
  num_list.append(val)
print("Original List : ", num_list)
even_list = []
odd_list = [] 
for i in range(len(num_list)):
  if(num_list[i] % 2 == 0):
    even_list.append(num_list[i])
  else:
    odd_list.append(num_list[i])
print("Even Numbers List =  ",even_list)
print("Odd Numbers List =  ",odd_list)

Original List :  [30, 104, 36, 178, 41, 30, 146, 104, 38, 199, 134, 181, 125, 199, 170, 70, 132, 110, 86, 44]
Even Numbers List =   [30, 104, 36, 178, 30, 146, 104, 38, 134, 170, 70, 132, 110, 86, 44]
Odd Numbers List =   [41, 199, 181, 125, 199]

Write a program to create a list of first 30 odd numbers using the shortcut method.

In [45]:
odd = [2*i + 1 for i in range(50)]
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

Write a program that passes a list to a function that scales each elements in the list by a factor of 10.   
Print the list values at different stages to show that changes made to one list is automatically reflected in other list.

In [47]:
def change(list1): # program passes a list to a function.
  for i in range(len(list1)):
    list1[i] = list1[i] * 10
  print("After change in function, List is ",list1)
num_list=[1,2,3,4,5,6]
print("Original List is ",num_list)
change(num_list)
print("List after change is : ",num_list)

Original List is  [1, 2, 3, 4, 5, 6]
After change in function, List is  [10, 20, 30, 40, 50, 60]
List after change is :  [10, 20, 30, 40, 50, 60]

Write a program that has a list of both positive and negative numbers.
Create another list using filter() that has only positive value.

In [0]:
def is_positive(x):
  if x>0:
    return x
num_list = [10,-20,30,-40,50,-60,70,-80,90,-100]
List = [] 
List = list(filter(is_positive, num_list))
print("Positive Values List = ",List)

('Positive Values List = ', [10, 30, 50, 70, 90])

Write a program that converts string of all uppercase characters into strings of all lowercase characters using map() function.
syntax map(function,sequence)

In [0]:
def squares (x):
  return x*x
sq_list = list(map(squares, range(1,11)))
print("List of squares from 1-10 : ",sq_list)

('List of squares from 1-10 : ', [1, 4, 9, 16, 25, 36, 49, 64, 81, 100])

Write a program to combine values in two list using list comprehension.
Combine only those values of a list that are multiples of value in the first list.

In [52]:
print ([(x,y) for x in [10,20,30,50] for y in [35,40,55,60] if y % x == 0 or x%y ==0])

[(10, 40), (10, 60), (20, 40), (20, 60), (30, 60)]

Write a program that converts a list of temperature in Celsius into Fahrenheit.

In [0]:
def convert_to_F(Temp_C):
  return ((float(9)/5) * Temp_C + 32)
Temp_in_C = (36.5, 37,37.5, 39)
Temp_in_F = list(map(convert_to_F, Temp_in_C))
print("List of temperatures in Celsius : ", Temp_in_C)
print("List of temperatures in Fahrenheir : ", Temp_in_F)

('List of temperatures in Celsius : ', (36.5, 37, 37.5, 39))
('List of temperatures in Fahrenheir : ', [97.7, 98.60000000000001, 99.5, 102.2])


Write a program to find largest value in a list using reduce () function.

In [56]:
import functools
def max_ele(x,y):
  return x>y
num_list = [4,1,8,2,9,3,0]
print("Largest value in the list is : ", functools.reduce(max,num_list))

Largest value in the list is :  9

Write a program that has a list of functions that scales a number by a factory of 2,3 & 4.  Call each function in the list on a given number.

In [57]:
L = [lambda x: x*2, lambda x: x*3, lambda x:x*4]
for f in L:
  print(f(5))   # element 5 is inserted in 
print("\n Multiplying the value of 100 by 2 we get : ", (L[0](100)))

10
15
20

 Multiplying the value of 100 by 2 we get :  200

Write a program to generate in the Fibonacci sequence and store it in a list.
Then filed the sum of the even-valued terms.

In [59]:
a = 0 
b = 1
n = int(input("Enter the number of terms :  ")) 
i = 2
List = [a,b]
while i<n:
  s = a + b
  List.append(s)
  a = b
  b = s
  i += 1
print(List)
i=0 
sum = 0
while i<n:
  sum += List[i]
  i += 2  # is same as i = i + 2 
print("SUM =  ",sum)

Enter the number of terms :  10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
SUM =   33

Write a program to find the median of a list of numbers.

In [60]:
List = [] 
n = int(input("Enter the number of elements to be inserted in the list:"))
for i in range(n):
  print("Enter number" , i + 1, " : ")
  num = int(input())
  List.append(num)
print("Sorted List is .............")
List = sorted(List)
i = len(List)-1
if n%2 !=0:
  print("MEDIAN = ", List[i//2])
else:
  print("MEDIAN = ", (List[i//2] + List[i+1//2])/2)

Enter the number of elements to be inserted in the list:8
Enter number 1  :
3
Enter number 2  :
8
Enter number 3  :
2
Enter number 4  :
6
Enter number 5  :
5
Enter number 6  :
7
Enter number 7  :
4
Enter number 8  :
9
Sorted List is .............
MEDIAN =  7.0

Write a program to add two matrices ( using nested list)

In [61]:
X = [[2,5,4],[1,3,9],[7,6,2]]
Y = [[1,8,5],[7,3,6],[4,0,9]]
result = [[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(X)):
  for j in range(len(X[0])):
    result[i][j] = X[i][j] + Y[i][j]
for r in result:
  print(r)

[3, 13, 9]
[8, 6, 15]
[11, 6, 11]

Write a program to calculate the distance between two points.

In [0]:
import math
p1 =[]
p2 =[]
x1 = int(input("Enter the x co-ordinate of starting point:  "))
y1 = int(input("Enter the y co-ordinate of starting point:  "))
x2 = int(input("Enter the x co-ordinate of ending point:  "))
y2 = int(input("Enter the x co-ordinate of ending point:  "))
p1.append(x1)
p1.append(x2)
p2.append(y1)
p2.append(y2)

distance = math.sqrt((p1[0]-p2[0]**2)+ ((p1[1]-p2[1]**2))
print("DISTANCE = %f" %distance)