<a href="https://colab.research.google.com/github/vijendranp/Hello-World/blob/master/DataStructureContinued.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TUPLE: 
Tuple is another data structure supported by Python.  It differs from list in two sense: 
A tuple is a sequence of immutable objects.  This means that while you can change the value of one or more items in a list, you cannot change the value in a tuple.  

Tuple uses the parentheses to define its elements whereas list uses a square bracket.

Creating the different types of tuples.

In [0]:
Tup1 = () # creates an empty tuple
print(Tup1)

Tup1 =(15) # creates a tuple with single element. 
print(Tup1)

Tup1 =(1,2,3,4,5)  # creates a tuple of integers. 
print(Tup1)

Tup2 = ('a','b','c','d') # creates a tuple of characters.
print(Tup2)

Tup3 =("zyx","wvut","srq", "pon","mlj")
print(Tup3)

Tup4 = (1.2,2.3,3.4,4.5)# creates a tuple of floating numbers.
print(Tup4)

Tup5 = (1,"zyx",3.2,'q')
print(Tup5)


# Tuple with parentheses 
print('a',"zyx",2 ,4.6)
a,b,c = 30,20,10
print(a,b,c)

()
15
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')
('zyx', 'wvut', 'srq', 'pon', 'mlj')
(1.2, 2.3, 3.4, 4.5)
(1, 'zyx', 3.2, 'q')
a zyx 2 4.6
30 20 10

**Important** Any set of multiple, comma separated values written without an identifying symbol like brackets [] because it specifies a list and parentheses() for tuples. are treated as tuples by default.  If you want to create a tuple with single element, then you must add a comma after the element.  In the absence of a comma, python treats the element as an ordinary data type.  

Program to demonstrate the necessity of having a comma in the tuple.  

These tuples stores related information about a subject together.  The information belongs to different data types.

In [0]:
Tup = (10,) # comma after first element
print(type(Tup))

<class 'tuple'>

Some built in functions return a tuple.  For example, the divmod() function returns two values - quotient as well as the remainder after performing the divide operation.  

Program to illustrate the use of divmod() function.

In [0]:
quo, rem = divmod(100,3)
print("Quotient = ",quo)
print("Remainder =  ",rem)

Quotient =  33
Remainder =   1

Accessing Values in a Tuple. 
Indices in a tuple also starts at 0.  You can perform operations like slice, concatenate,.  
To access values in a tuple, slice operation is used along with the index or indices to obtain value stored at that index.  

Program to illustrate the use of slice operation to retrieve value(s) stored in a tuple.

In [0]:
Tup1 = (10,9,8,7,6,5,4,3,2,1)
print("Tup[3:6]=  ",Tup1[3:6])
print("Tup[:8] =  ", Tup1[:4])
print("Tup[4:] =  ", Tup1[4:])
print("Tup[:]=    ", Tup1[:])

Tup[3:6]=   (7, 6, 5)
Tup[:8] =   (10, 9, 8, 7)
Tup[4:] =   (6, 5, 4, 3, 2, 1)
Tup[:]=     (10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

# Updating Tuple 
Tuple is immutable and so, the values in the tuple cannot be changed.  You can only extract values from a tuple to form another tuple.

In [0]:
Tup1 = (10,9,8,7,6)
Tup2 = (5,4,3,2,1)
Tup3 = Tup2 + Tup1
print(Tup3)

(5, 4, 3, 2, 1, 10, 9, 8, 7, 6)

**Basic Tuple Operation**
You can perform operations like concatenation, repetition on tuples.  
The only difference is that a new tuple should be created when a change is required in an existing tuple.  


Operation                     Expression 

Length                        len(1,2,3,4,5,6)

Concatenation                 (1,2,3) + (4,5,6)  

Repetition                   ('Good...')*3 

Membership             5 in (1,2,3,4,5,6,7,8,9)             True 

Iteration           for i in (1,2,3,4,5,6,7,8,9,10):
                    print(i, end='')

Comparison (Use>,<,==)  Tup1 = (1,2,3,4,5)
                        Tup2 = (1,2,3,4,5) 
                        Print(Tup1>Tup2) 

Maximum               Max(1,0,3,8,2,9)                    9

Minimum               Min(1,0,3,8,2,9)                    0

Convert to tuple            tuple("Hello")    ('H', 'e', 'l','l''o')
convert a sequence into tuple  tuple ([1,2,3,4,5])   (1,2,3,4,5) 


**Tuple Assignment**
Tuple assignment is a very powerful feature in python.  
It allows a tuple of variables on the left hand side of the assignment operator to be assigned value from a tuple given on the right hand side of the assignment operator.  Each value is assignment to its respective variable. 

In case, an expression is specified on the right hand side of the assignment operator, first that expression is evaluated and then assignment is done.  
This feature makes tuple assignment quite versatile.  

Program to show the different way of tuple assignment.

In [0]:
# an unnamed tuple of values assigned to values of another unnamed tuple 
(val1, val2,val3) = (1,2,3)
print(val1,val2,val3)
Tup1 = (400,500,600)
(val1,val2,val3) = Tup1  # tuple assigned to another tuple. 
print(val1, val2, val3)
# expressions are evaluated before assignment.  

(val1,val2,val3) =(2+4, 5/3 +4, 9%6)
print(val1,val2,val3)

1 2 3
400 500 600
6 5.666666666666667 3

Tuples for returning multiple values.  
A function can return only a single value.  But at time, we need to return more than one value from function, in such case, it is preferable to group together multiple values and return them together.  

Program to return the highest as well as the lowest value in list.

In [0]:
def max_min(vals):
  x = max(vals)
  y = min(vals)
  return (x,y)
vals = (99,98,90,97,89,86,93,82)
(max_marks, min_marks) = max_min(vals)
print("Highest Marks =  ",max_marks)
print("Lowest Marks = ",min_marks)

Highest Marks =   99
Lowest Marks =  82

**Note :  Unlike list, tuples do not support remove(), pop(),append(),sort(), reverse() and insert() methods.**

**Nested Tuples** 
Python allows you to define a tuple innside another tuple, called nested tuple.  

Consider a program having list of students have topped in courses, store the name of the course and aggregate of three student as tuples inside the tuple Toppers.  

Program to demonstrate the use of nested tuple.

In [0]:
Toppers = (("Anthony", "Statistics",82.5), ("Chris", "Algorithm", 95.4), ("David", "Data Science",87))
for i in Toppers:
  print(i)

('Anthony', 'Statistics', 82.5)
('Chris', 'Algorithm', 95.4)
('David', 'Data Science', 87)

Program to print the name of the topper and her marks in 4 subjects wherein the marks are specified as a list in the tuple Topper.

In [0]:
Topper = ("Joseph", [84,68,90,67])
print("Class Topper : ", Topper[0])
print("Highest Scores in 4 Subjects : ", Topper[1:])

Class Topper :  Joseph
Highest Scores in 4 Subjects :  ([84, 68, 90, 67],)

**Checking the Index: index() method**
The index of an element in the tuple can be obtained by using the index().  If the element being searched is not present in the list, then error is generated.  The syntax is as under:- 
list.index(obj)

where, obj is the object to be found out.  

Program to demonstrate the use of index() method.

In [0]:
Tup = (1,2,3,4,5,6,7,8)
print(Tup.index(4))

3

**Counting the Elements: count() Methods**

The count() is used to return the number of elements with a specific value in a tuple.  


Program to count the number of times letter 'x' appears in the specified string.

In [0]:
tup = "abcdxxxabcdxxxabcdxxx"
print("x appears", tup.count('x'), "times in",tup)

x appears 9 times in abcdxxxabcdxxxabcdxxx

**List Comprehension and Tuples**
Consider the program given below passes a tuple as an argument to a function double().  
The function scales each value in the tuple by a factor of two and places the scaled values in another tuple.

In [0]:
def double(T):
  return ([i**2 for i in T])
Tup = 1,2,3,4,5
print("Original Tuple : ", Tup)
print("Double Values : ",double(Tup))

Original Tuple :  (1, 2, 3, 4, 5)
Double Values :  [1, 4, 9, 16, 25]

Note : If a sequence is specified without parentheses, it is treated to be a tuple by default.  

**Variable length Argument Tuples **
Many built in functions like max(), min(), sum() etc use variable length arguments since these functions themselves do not know how many arguments will be passed to them.  

Variable length argument tuple is a striking feature in Python.  It allows a function to accept a variable number of arguments.   This is especially useful in defining functions that are applicable to a large variety of arguments. 


If you have a function that displays all the parameters passed to it, then even the function does not know how many values it will be passed.  In such cases, we use a variable-length argument that begins with a '*' symbol. 

Any argument that starts with a'*' symbol is known as gather and specifies a variable length argument.  


Program to manipulate efficiently each value that is passed to the tuple using variable length arguments.

In [0]:
def display(*args):
  print(args)
Tup = (10,20,30,40,50,60)
display(Tup)

((10, 20, 30, 40, 50, 60),)

The opposite of gather is scatter.  So in case you have a function that accepts multiple argument but not a tuple, then the tuple is scattered to pass individual elements. 

Programs to illustrate scatter in terms of Tuple

In [0]:
Tup = (56,3)
quo, rem = divmod(*Tup)
print(quo, rem)

18 2

The symbol * denotes that there may be more than one argument, so python extracts the value (scatters them) to obtain two values on which the operation can be applied.  


**zip() Function**
The zip() is a built-in function that takes two or more sequences and "zips" them into a list of tuples.  The tuple thus, formed has one element from each sequence.  The code given below illustrates this concept.  

Program to show the use of zip() function.

In [0]:
Tup = (10,20,30,40,50)
List1 = ['a','b','c','d','e']
print(list((zip(Tup,List1))))

[(10, 'a'), (20, 'b'), (30, 'c'), (40, 'd'), (50, 'e')]

From the above output, we see that the zip function is a list of tuple, where each tuple contains character from the list and an integer from the tuple.  

In the above example, there are equal number of values in the list and tuple.  But if the two sequences have different length, then the result has the length of the shorter one.

Program to use zip() function on variable-length sequences.

In [0]:
Tup = (1,2,3)
List1 = ['a','b','c','d','e']
print(list(zip(Tup,List1)))

[(1, 'a'), (2, 'b'), (3, 'c')]

You can even print the elements in a tuple using the for statement. 

Program to print elements in a tuple using for loop.

In [0]:
Tup = ((1,'a'),(2,'b'), (3,'c'))
for i, char in Tup: 
  print(i,char)

1 a
2 b
3 c

To traverse the elements of a sequence and also print their indices, use the built-in function enumerate().

In [0]:
for index, element in enumerate('ZYXWVUTSRQPONMLKJIHGFEDCBA'):
  print(index,element)

0 Z
1 Y
2 X
3 W
4 V
5 U
6 T
7 S
8 R
9 Q
10 P
11 O
12 N
13 M
14 L
15 K
16 J
17 I
18 H
19 G
20 F
21 E
22 D
23 C
24 B
25 A

**Key points to remember:**
Tuples can be converted into lists, and vice versa using the built-in tuple() function that takes a list and returns a tuple with the same elements.  

A list() function takes a tuple and returns a list.  
You cannot divide or substract tuples.  If you try to do so you will get a Typeerror with unsupported operand type.  

Tuples are faster than lists, but they cannot be changed.  

Since tuples are immutable they do not support methods like sort() and reverse(), as these methods modify existing lists.  
Python has built-in function sorted() which takes any sequence as a parameter and returns a new list with the same elements but in a different order.

In [0]:
Tup = (10,2,1,9,4,9)
print(sorted(Tup))

[1, 2, 4, 9, 9, 10]

Program to illustrate string formatting function with tuple.  

Reassigning a value in a tuple cases a TypeError.

In [0]:
Tup = (" Juanita", 98,28,5)
print("%s got %d marks in CSA and her aggregate was %.2f" %(Tup[0], Tup[1],Tup[2]))

 Juanita got 98 marks in CSA and her aggregate was 28.00

Program to create a hash file

In [0]:
import hashlib
def hash_file(filename):
  hash = hashlib.sha1() # make a hash object. 
  with open(filename,'rb') as file:
    chunk = 0
    while chunk !=b:
      chunk = file.read(1024)
      hash.update(chunk)
    return hash.hexdigest()
    text = hash_file("Body.txt")
    print("Hash of file is ",text)

**Advantage of Tuple over list: **
Tuples are used to store values of different data types.  
Since tuples are immutable, iterating through tuples is faster than 
iterating over list.  

Tuples can be used as Key for a dictionary but list cannot be used as keys. 
Tuples are best suited for storing data that is write protected.
Tuples can be used in place of list where the number of values is known and small.  

Multiple values from a function can be returned using a tuple.  

Tuples are used to format strings.  

Write a program to swap two values using tuple assignment.

In [0]:
val1 = 20
val2 = 30
print ("val1 =   ",val1, "val2=  ", val2)
(val1,val2) = (val2,val1)
print("val1=  ", val1, " val2=  ",val2)

val1 =    20 val2=   30
val1=   30  val2=   20

Write a program using a function that returns the area and circumference of a circle whose radius is passed as an argument.

In [0]:
PI = 3.14
def cal_a_r(r):
  return (PI*r*r, 2*PI*r)
radius = float(input("Enter the radius :  "))
(area, circumference) = cal_a_r(radius)
print("Area of the circle with radius", radius, "= ",area)
print("Circumference of the circle with radius ", radius, "=",circumference)

Enter the radius :  14
Area of the circle with radius 14.0 =  615.44
Circumference of the circle with radius  14.0 = 87.92

Write a program that has a nested list to store topper detail.  Edit the details and reprint the details.

In [0]:
Toppers = ((" Anthony", "Python Programming", 95.4), ("Chris", "Java Programming", 94.8), ("Dave", "Javascript Programming",79.6))
for i in Toppers:
  print(i)
choice = input("Do you want to edit the details:  ")
if choice == 'y':
  name = input("Enter the name of the student whose details are to be edited: ")
  new_name = input("Enter the correct name :  ")
  new_course = input("Enter the correct course:   ")
  new_aggr = input("Enter the correct aggregate:  ")
  i = 0
  new_Toppers = () 
  while i<len(Toppers):
    if Toppers[i][0] == name:
      new_Toppers += (new_name, new_course,new_aggr)
    else:
      new_Toppers += Toppers[i]
    i+= 1
for i in new_Toppers:
  print(i,end= '  ')

(' Anthony', 'Python Programming', 95.4)
('Chris', 'Java Programming', 94.8)
('Dave', 'Javascript Programming', 79.6)
Do you want to edit the details:  y
Enter the name of the student whose details are to be edited: Dave
Enter the correct name :  David
Enter the correct course:   C Programming
Enter the correct aggregate:  83.5
 Anthony  Python Programming  95.4  Chris  Java Programming  94.8  David  C Programming  83.5

Write a program that scans an email address and forms a tuple of user name and domain.

In [0]:
addr = 'zyxvut@gmail.com'
user_name, domain_name = addr.split('@')
print("User Name :  ", user_name)
print("Domain Name :  ", domain_name)

User Name :   zyxvut
Domain Name :   gmail.com

Write a program that has a list of numbers both positive and negative.  Make a new tuple that has only negative values from this list.

In [0]:
Tup = (-20,2,4,-18,6,8,-16,10,12)
newTup= ()
for i in Tup:
  if i<0:
    newTup +=(i,)
print(newTup)

(-20, -18, -16)

Write a program that accepts different number of arguments and returns sum of only the positive values passed to it.

In [0]:
def sum_pos(*args):
  tot = 0 
  for i in args:
    if i>0:
      tot += i
    return tot
print("sum_pos(1,-9,2,-8,3,-7,4,-6,5)  =   ", sum_pos(1,-9,2,-8,3,-7,4,-6,5))

sum_pos(1,-9,2,-8,3,-7,4,-6,5)  =    1

Write a program that has two sequences.  First which stores some questions and second stores the corresponding answers.  
Use the zip() funciton to form a valid question answer series.

In [0]:
Ques = ["Roll_No", "Name", "Course"]
Ans = [7, "Svetlana", "Compiler Designing"]
for q,a in zip(Ques, Ans):
  print("What is your", q, "?")
  print("My", q, "is :  ",a)

What is your Roll_No ?
My Roll_No is :   7
What is your Name ?
My Name is :   Svetlana
What is your Course ?
My Course is :   Compiler Designing

# SET :
Set is another data structure supported by Python.  Basically sets are same as lists but with a differences that sets are lists with no duplicate element entries.  

Set is mutable and unordered collection of items and we can perform addition, deletion of items.  

**Creating a Set:**
A set is created by placing all the elements inside curly brackets {}, separated by comma or by using the built in set().  
**Syntax:**
set_variable = {val1, val2.....}

to create a set you can write,  

p = {2,4.0,"zyx"}
print(p)

In [0]:
p = {2,4.0,"zyx"}
print(p)

{2, 4.0, 'zyx'}

Program to convert a list of values in a set.

In [0]:
s = set([2,4,'z','x',"pqr",8.02])
print(s)

{2, 4, 8.02, 'z', 'pqr', 'x'}

The following programs demonstrates different ways of creating sets by using:
A list
A tuples
A string.

In [0]:
List1 = [2,4,6,8,10,12,14,16]
Tup1 = ('z','y''x','w','v','u','t','s','r','q','p')
str = "abcdefabcdefg"

print(set("She sells sea shells on the sea shore".split()))

print(set(str))

print(set(Tup1))

print(set(List1))

{'sells', 'shore', 'shells', 'the', 'on', 'She', 'sea'}
{'e', 'f', 'a', 'd', 'c', 'b', 'g'}
{'yx', 'w', 's', 't', 'z', 'u', 'r', 'q', 'v', 'p'}
{2, 4, 6, 8, 10, 12, 14, 16}

# Mathematical Operations : 

Python sets are also a powerful tools as they have the ability to calculate difference and intersections between other sets.  


Program to find union, intersection and symmetric difference between two sets.

In [0]:
Coders = set(["Anthony", "Gwen", "Max", " Paul"])
Analysts = set(["Kris", "Maggie", "Samantha", "George", "Max"])
print("Coderrs :  ",Coders)
print("Analysts : ",Analysts)
print("People working as Coders as well as Analysts:  ", Coders.intersection(Analysts))
print("People working as Coders but not Analysts: ", Coders.difference(Analysts))
print("People working as Analysts but not coders :  ", Analysts.difference(Coders))
print("People working in only one of the groups : ", Coders.symmetric_difference(Analysts))

Coderrs :   {' Paul', 'Anthony', 'Max', 'Gwen'}
Analysts :  {'Maggie', 'Samantha', 'George', 'Kris', 'Max'}
People working as Coders as well as Analysts:   {'Max'}
People working as Coders but not Analysts:  {' Paul', 'Anthony', 'Gwen'}
People working as Analysts but not coders :   {'Samantha', 'George', 'Kris', 'Maggie'}
People working in only one of the groups :  {'Samantha', 'George', 'Maggie', ' Paul', 'Anthony', 'Kris', 'Gwen'}

**Tip**  The update method can take tuples, lists, strings, or other sets as its argument. 

**set operations**

**Operation**                                  **Description**

s.update(t)                   Adds elements of set t in the set s 
                              provided that all duplicates are avoided.

s.add(x)                   Adds element x to theh set s provided that all 
                           duplicates are avoided.  

s.remove(x)               Removes element x from set s.  Return Keyerror 
                          if x is not present.  

s.discard(x)              Same as remove() but does not give an error
                        if x is not present in the set.  

s.pop()                Removes and returns any arbitrary element from s.
                      Keyerror is raised if s is empty 

s.clear()              Removes all elements from the set.  

len(s)                 Returns the length of the set.

x in s               Returns True if x is present in set s false otherwise.

x not in s     Returns True if x is not present in set s false otherwise.


s.issubset(t)      Returns True if every element in set is present in set t
or s<=t             and false otherwise.  

s.issuperset(t)    Returns true if every element is present in t is present 
                  in set s and False otherwise.  

s.union(t) or s|t  Returns a set s that has elements from both sets s and t

s.intersection(t)      Returns a new set that has elements which are common
or s&t                to both the set s and set t 

s.intersection_update(t) Returns a set that has elements which are commmon
                         to both the set s and t 

s.difference(t) 
or s-t              Returns a new set that has elements in a set s but not in t 

s.difference_update(t) Removes all elements of another set from this set.

In [0]:
s = set([1,2,10,12])
t = set([1,2,3,4,5,6,7,8,9,10])
s.difference_update(t)
print(s)

{12}

Symmetric_difference. or s^t

In [0]:
s = set([1,2,10,12])
t = set([1,2,3,4,5,6,7,8,9,10])
z = s^t
print(z)

{3, 4, 5, 6, 7, 8, 9, 12}

s.copy() 
Returns a copy of set s

In [0]:
s = set([1,2,10,12])
t = ([1,2,3,4,5,6,7,8,9,10])
print(s.copy())

{1, 2, 10, 12}

**isdisjoint** : Returns true if two sets have a null intersection.  [link text](https://)

In [0]:
s = set([1,2,3])
t = set([4,5,6])
print(s.isdisjoint(t))
# returns true if two sets hae null intersection.

True

all(s)
Returns true if all elements in the set are True and False otherwise.

In [0]:
s = set([0,1,2,3,4])
print(any(s))

True

enumerate(s) 

**Returns an enumerate object which contains index as well as values of all the items of set as a pair.**

In [0]:
s = set(['a','b','c','d'])
for i in enumerate(s):
  print(i, end= ' ')

(0, 'c') (1, 'b') (2, 'a') (3, 'd')

max(s), min(s), sum(s)

In [0]:
s = set([0,1,2,3,4,5,6])
print(max(s))
print(min(s))
print(sum(s))

6
0
21

sorted()  Returns a new sorted list from elements in the set.  It does not sort the set as sets are immutable.

In [0]:
s = set([9,8,7,6,5,4,3,2])
print(sorted(s))

[2, 3, 4, 5, 6, 7, 8, 9]

s == t & s != t

Returns true if two sets are equivalent and False otherwise.  
s!=t returns True if both sets are not equivalent and False otherwise.

In [0]:
s = set (['a','b','c'])
t = set("abc")
z = set(tuple('abc'))
print(s ==t)
print(s!=z)

True
False

**key-points**
A set cannot contain another mutable object (like list), and doing so will throw error. 

To make an empty list the following code :
List = [] 
Tup = () 
empty set 
s = {} #  **python treats this as Dictionary**
since sets are unordered, indexing have no meaning. 
set operations do not allow users to access or change an element using indexing or slicing. 

Program to illustrate the updating of a set.

In [0]:
s = {1,2,3,4,5}
print(s[0])

**A set can be created from a list but a set cannot contain a list. **
one can iterate through each item in a set using a for loop.

In [0]:
s = set("Hi there, How are you doing today!")
for i in s:
  print(i, end= ' ')

h e H i w , a o d t n y ! r u   g

Write a program that generates a set of prime numbers and another set of odd numbers.  

Demonstrate the result of union, intersection, difference, symmetric difference operation.

In [0]:
odds = set([x*2+1 for x in range(1,10)])
print(odds)
primes = set()
for i in range (2,20):
  j = 2
  flag = 0
  while j<i/2:
    if i%j == 0:
      flag =1
    j+=1

  if flag == 0:
    primes.add(i)

print(primes)
print("UNION: ", odds.union(primes))
print("INTERSECTION :   ", odds.intersection(primes))
print("SYMMETRIC DIFFERENCE:  ", odds.symmetric_difference(primes))
print("DIFFERENCE : ", odds.difference(primes))

{3, 5, 7, 9, 11, 13, 15, 17, 19}
{2, 3, 4, 5, 7, 11, 13, 17, 19}
UNION:  {2, 3, 4, 5, 7, 9, 11, 13, 15, 17, 19}
INTERSECTION :    {3, 5, 7, 11, 13, 17, 19}
SYMMETRIC DIFFERENCE:   {2, 4, 9, 15}
DIFFERENCE :  {9, 15}

Write a program that creates two sets, one of even number in range 1-20 and the other has all composite numbers in the range 1-30.

Also demonstrate the use of all(), issuperset(), len(), and sum() functions.

In [0]:
evens = set([x*2 for x in range(1,20)])
print("EVENS:   ",evens)
composites = set()
for i in range(2,30):
  j = 2
  flag = 0 
  while j<=i/2:
    if i%j == 0:
      composites.add(i)
    j+=1
print("COMPOSITES : ", composites)
print("SUPERSET:  ", evens.issuperset(composites))
print("ALL :  ",all(evens))
print("LENGTH OF COMPOSITES SETS :  ",len(composites))
print("SUM OF ALL NUMBERS IN EVENS SET :  ",sum(evens))

EVENS:    {32, 2, 34, 4, 36, 6, 38, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30}
COMPOSITES :  {4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28}
SUPERSET:   False
ALL :   True
LENGTH OF COMPOSITES SETS :   18
SUM OF ALL NUMBERS IN EVENS SET :   380

Write a program that creates two sets.  -- squares and cubes in range 1-10.  Demonstrate the use of update(), pop(), remove(), add(), and clear() functions.

In [0]:
squares = set ([x**2 for x in range (1,10)])
cubes = set ([ x**3 for x in range (1,10)])
print("SQUARES  ",squares)
print("CUBES  ",cubes)
squares.update(cubes)  # adds element of squares to cubes provided duplicates are avoided.
print(" UPDATE: ",squares)
squares.add(11*11)
squares.add(11*11*11)
print("ADD :  ",squares)
print("POP:   ",squares.pop())
squares.remove(1331)
print("REMOVE : ",squares)
squares.clear()
print("CLEAR :  ",squares)

SQUARES   {64, 1, 4, 36, 9, 16, 49, 81, 25}
CUBES   {64, 1, 512, 8, 343, 216, 729, 27, 125}
 UPDATE:  {64, 1, 512, 4, 36, 8, 9, 16, 49, 81, 729, 343, 216, 25, 27, 125}
ADD :   {64, 1, 512, 121, 4, 36, 8, 9, 16, 49, 81, 1331, 729, 343, 216, 25, 27, 125}
POP:    64
REMOVE :  {1, 512, 121, 4, 36, 8, 9, 16, 49, 81, 729, 343, 216, 25, 27, 125}
CLEAR :   set()

Write program that has a list of countries.  Create the set of countries and print their names in sorted order.

In [0]:
countries = ['America', 'Japan', 'China', 'Brazil', 'England', 'Dominican Republic']
S_set = sorted(set(countries))
print(S_set)

['America', 'Brazil', 'China', 'Dominican Republic', 'England', 'Japan']

# DICTIONARIES : 

Dictionary is a data structure which stores values as a pair of key and value. 


Each key is separated from its value by a colon : and consecutive items are separated by commas.  

The entire itesm in a dictionary are enclosed in curly brackets {} 

The syntax:
** dictionary_name = { key_1: value_1, key_2:value_2, key_3 : value_3}**

**Keys in the dictionary must be unique and be of any immutable data type like string, numbers or tuples, the value of a key can be of any type. 
Dictionaries are not sequences, rather they are mappings.
Mappings are collection of objects that store objects by key instead of by relative position.

Creating a Dictionary 

The syntax to create an empty dictionary can be given as :-  

dictionary_variable = [] 

The syntax to create a dictionary with key-value pairs is : 

dictionary_variable = { key1:val1, key2: val2, .....}

In [2]:
Dict = {}

Dict = { 'ID_No' : '1500/001', 'Name' : 'Aron', ' Course' : 'Python Programming'}
print(Dict)

{'ID_No': '1500/001', 'Name': 'Aron', ' Course': 'Python Programming'}

To create a dictionary with one or more key value pairs use the dict() function.  

The dict() creates a dictionary directly from a sequence of key value pairs.

In [7]:
print(dict([('Image_No', '1800/001'), ('Name', 'Aron'), ('Course', 'Computer Programming')]))

{'Image_No': '1800/001', 'Name': 'Aron', 'Course': 'Computer Programming'}

Program to create 10 key- value pairs where key is a number in the range of 1-10 and the value is twice the number.

In [8]:
Dict = {x : 2*x for x in range (1,10)}
print(Dict)

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

Accessing Values : 

Program to access values stored in a dictionary.

In [10]:
Dict = {'Student_No' : '1500/001', 'Name' : 'Aron', 'Course' : 'Python Programming'}
print("Dict[STUDENT_NO]=  ", Dict['Student_No'])
print("Dict[NAME]= ", Dict['Name'])
print("Dict[COURSE] = ", Dict['Course'])

Dict[STUDENT_NO]=   1500/001
Dict[NAME]=  Aron
Dict[COURSE] =  Python Programming

**Adding and Modifying an Item in a Dictionary**

To add a new entry or a key-value pair in a dictionary, just specify the key-value pair as you had done for the existing pairs.  The syntax to add an item in a dictionary is given as : 


dictionary_varaible[key] = val1

Program to add a new item in the dictionary.

In [11]:
Dict = {'Student_No' : '1200/001', 'Name' : 'Benson', 'Course' : 'Java Programming'}
print("Dict[STUDENT_NO]=  ", Dict['Student_No'])
print("Dict[NAME]= ", Dict['Name'])
print("Dict[COURSE] = ", Dict['Course'])
Dict['Marks'] = 86
print("Dict[MARKS] = ", Dict['Marks'])

Dict[STUDENT_NO]=   1200/001
Dict[NAME]=  Benson
Dict[COURSE] =  Java Programming
Dict[MARKS] =  86

Modifying an Entry in a dictionary. 


Program to modify an item in the dictionary.

In [12]:
Dict = {'Student_No' : '1300/002', 'Name' : 'Julie', 'Course' : 'C Programming'}
print("Dict[STUDENT_NO]=  ", Dict['Student_No'])
print("Dict[NAME]= ", Dict['Name'])
print("Dict[COURSE] = ", Dict['Course'])
Dict['Marks'] = 89 
print("Dict[MARKS] =  ", Dict['Marks'])
Dict['Course'] = 'C# Programming'
print("Dict[COURSE]=  ", Dict ['Course']) # entry updated

Dict[STUDENT_NO]=   1300/002
Dict[NAME]=  Julie
Dict[COURSE] =  C Programming
Dict[MARKS] =   89
Dict[COURSE]=   C# Programming

**Deleting Items** 

clear() removes all the items in just one statement.  
del keyword deletes one or more items. 

The syntax to use del statement can be given as : 

del dictionary_variable[key]

Program to demonstrate the use of del statement and clear() function.

In [2]:
Dict = {'Student_No' : '1900/010', 'Name' : 'Sam', 'Course' : 'SQL Programming'}
print("Dict[STUDENT_NO]=  ", Dict['Student_No'])
print("Dict[NAME]= ", Dict['Name'])
print("Dict[COURSE] = ", Dict['Course'])
del Dict['Course'] # deletes a key-value pair. 
print("After deleting course : ",Dict)
Dict.clear() # deletes all entries 
print("After clear(), Dictionary has no items : ", Dict)

Dict[STUDENT_NO]=   1900/010
Dict[NAME]=  Sam
Dict[COURSE] =  SQL Programming
After deleting course :  {'Student_No': '1900/010', 'Name': 'Sam'}
After clear(), Dictionary has no items :  {}

YOu can also use the pop() to delete a particular key from the dictionary.  
The syntax of the Pop method is given as under;  

dict.pop(key [,default])

As the name suggests, the pop() removes an item from the dictionary and returns its value.  If the specified key is not present in the dictionary, then the default value is returned.  Since the default value is optional if you do not specify the default value and the key is also not present in the dictionary, then a keyError is generated.  

Another method dict.popitem() randomly pops and returns an item from the dictionary.  


Program to randomly pop() or remove an element from a dictionary

In [5]:
Dict = {'Student_No' : '1700/001', 'Name' : 'Jack', 'Course' : 'Perl Programming'}
print("Name is :  ", Dict.pop('Name'))
print("Dictionary after popping name is :", Dict)
print("Mark is : ", Dict.pop('Marks', -1)) 
print("Dictionary after popping marks is ", Dict)
print("Randomly popping any item :  ", Dict.popitem())
print("Aggregate is : ", Dict.pop('Aggr'))
print("Dictionary after popping Aggregate is ", Dict)

Name is :   Jack
Dictionary after popping name is : {'Student_No': '1700/001', 'Course': 'Perl Programming'}
Mark is :  -1
Dictionary after popping marks is  {'Student_No': '1700/001', 'Course': 'Perl Programming'}
Randomly popping any item :   ('Course', 'Perl Programming')

KeyError: ignored

**key points** Keys must have unique values.  Not even a single key can be duplicated in a dictionary.  If you try to add a duplicate key, then the last assignment is retained.

In [6]:
Dict = {'Student_No' : '2100/010', 'Name' : 'Kevin', 'Course' : 'Perl Programming', 'Name' : 'Alex'}
print("Dict[ROLL_NO]= ",Dict['Student_No'])
print("Dict[NAME] =   ",Dict ['Name'])
print("Dict[COURSE] = ",Dict['Course'])

Dict[ROLL_NO]=  2100/010
Dict[NAME] =    Alex
Dict[COURSE] =  Perl Programming

In a dictionary, keys should be strictly of a type that is immutable.  This means that a key can be of string number, or tuple type, but it cannot be a list which is mutable.  In case you try to make your key of a mutable type, then a TypeError will be generated as shown below. 

Program to illustrate the use of a multiple key in a dictionary

In [0]:
Dict = {'Student_No' : '2000/100', 'Name' : 'Donald', 'Course' : 'Ruby Programming'}
print("Dict[ROLL_NO] =  ", Dict['Student_No'])
print("Dict[NAME] =   ", Dict['Name'])
print("Dict[COURSE] =   ", Dict['Course'])

Tuples can be used as keys only if they contain immutable object like string, numbers or other tuples.  If a tuple used as key contains any mutable object either directly or indirectly, then an error is generated.

Program to use tuple as keys

In [0]:
Dict = {(1,2), ([4,5,6])}
print(Dict)

The in keyword can be used to check whether a single key is present in the dictionary.

In [8]:
Dict = {'Student_No' : '2100/010', 'Name' : 'Cathy', 'Course' : 'VB Script Programming'}
if 'Course' in Dict:
  print(Dict['Course'])

VB Script Programming

Sorting Items in Dictionary

The keys() method of dictionary returns a list of all the keys used in the dictionary in an arbitrary order.  

The sorted() function is used to sort the keys. 


Program to sort keys of a dictionary

In [7]:
Dict = {'Student_No' : '1700/002', 'Name' : 'Mathew', 'Course' : 'Julia Programming'}
print(sorted(Dict.keys()))

['Course', 'Name', 'Student_No']

Looping over a Dictionary : 

For looping over a dictionary to access only values, only keys and both using the for loop.

Program to access items in a dictionary using for loop

In [9]:
Dict = {'Student_No' : '2200/001', 'Name' : 'Ryan', 'Course' : 'PowerShell Programming'}
print("KEYS :   ",  end = ' ')
for key in Dict: 
  print(key, end = '  ')
print("\nVALUES :   ", end = '  ')
for val in Dict.values():
  print(val, end = '  ')
print("\nDICTIONARY :   ",  end = ' ')
for key, val in Dict.items():  # returns a list of tuples (key-value pair)
  print(key,val, "\t", end = '  ')

KEYS :    Student_No  Name  Course
VALUES :     2200/001  Ryan  PowerShell Programming
DICTIONARY :    Student_No 2200/001 	  Name Ryan 	  Course PowerShell Programming

Nested Dictionary :

You can define a dictionary inside another dictionary.

In [13]:
Graduates = {'Smith' : {'CS' : 90, 'DS' : 98, 'CSA' : 93},
             'Sally' : {'CS' : 87, 'DS' : 83, 'CSA' : 90},
             'kevin' : {'CS' : 89, 'DS' : 88, 'CSA' : 91}}
for key, val in Graduates.items():
  print(key,val)

Smith {'CS': 90, 'DS': 98, 'CSA': 93}
Sally {'CS': 87, 'DS': 83, 'CSA': 90}
kevin {'CS': 89, 'DS': 88, 'CSA': 91}

**Built-in Dictionary Functions & Methods : **
len(Dict)   Returns the length of dictionary. 
            That is, number of item (key-value pairs)

In [14]:
Dict1 = {'Student_ No.' : '16/001', 'Name' : 'Thomas', 'Course' : 'Mechanical'}
print(len(Dict1))

3

str(Dict)   Returns a string representation of the dictionary.

In [15]:
Dict1 = {'Student_ No.' : '15/111', 'Name' : 'Jared', 'Course' : 'History'}
print(str(Dict1))

{'Student_ No.': '15/111', 'Name': 'Jared', 'Course': 'History'}

Dict.clear()   Deletes all entries in the dictionary.

In [16]:
Dict1 = {'Student_ No.' : '16/001', 'Name' : 'Thomas', 'Course' : 'Mechanical'}
Dict1.clear()
print(Dict1)

{}

Dict.copy() 

Returns a shallow copy of the dictionary i.e. the dictionary returned will not have a duplicate copy of the Dict but will have same reference.

In [17]:
Dict1 = {'Student_ No.' : '17/001', 'Name' : 'Gregory', 'Course' : 'Object Oriented Programming'}
Dict2 = Dict1.copy()
print("dict2 : ", Dict2)
Dict2['Name'] = 'Sasha'
print("Dict1 after modification : ",Dict1)
print("Dict2 after modificaiton :   ", Dict2)

dict2 :  {'Student_ No.': '17/001', 'Name': 'Gregory', 'Course': 'Object Oriented Programming'}
Dict1 after modification :  {'Student_ No.': '17/001', 'Name': 'Gregory', 'Course': 'Object Oriented Programming'}
Dict2 after modificaiton :    {'Student_ No.': '17/001', 'Name': 'Sasha', 'Course': 'Object Oriented Programming'}

Dict.fromkeys(seq[,val])  : Create a new dictionary with keys from seq and values set to val.  If no val is specified then, None is assigned as default value.

In [18]:
Subjects = ['CSA', 'C++', 'DS', 'OS']
Marks = dict.fromkeys(Subjects, -1)
print(Marks)

{'CSA': -1, 'C++': -1, 'DS': -1, 'OS': -1}

Dict.get(key)

Returns the value for the key passed as argument.  IF the key is not present in dictionary, it will return the default value.  If no default value is specified then it will return None.

In [19]:
Dict1 = {'Student_ No.' : '16/001', 'Name' : 'Thomas', 'Course' : 'Mechanical'}
print(Dict1.get('Name'))

Thomas

Dict.has_key(key)
Returns True if the key is present in the dictionary and False otherwise.

In [20]:
Dict1 = {'Student_ No.' : '20/001', 'Name' : 'Scott', 'Course' : 'Electrical'}
print('Marks' in Dict1)

False

Dict.items() 

Returns a list of tuples (key-value pair)

In [21]:
Dict1 = {'Student_ No.' : '21/002', 'Name' : 'Renny', 'Course' : 'Statistical'}
print(Dict1.items())

dict_items([('Student_ No.', '21/002'), ('Name', 'Renny'), ('Course', 'Statistical')])

Dict.keys() 

Returns a list of keys in the dictionary.

In [22]:
Dict1 = {'Student_ No.' : '23/003', 'Name' : 'Osborne', 'Course' : 'Mathematics'}
print(Dict1.keys())

dict_keys(['Student_ No.', 'Name', 'Course'])

Dict. setdefault(key,value)

Sets a default value for a key that is not present in the dictionary.

In [23]:
Dict1 = {'Student_ No.' : '24/004', 'Name' : 'Margaret', 'Course' : 'Physics'}
Dict1.setdefault('Marks', 0)
print(Dict1['Name'], "has got marks =   ",Dict1.get('Marks'))

Margaret has got marks =    0

**operations**

Dict1.update(Dict2) : Adds the key-value pair of Dict2 to the key-value pair of Dict1.

In [24]:
Dict1 = {'Student_ No.' : '25/005', 'Name' : 'Jemma', 'Course' : 'Aeronautical'}
Dict2 = {'Marks' :   96, 'Grade' : 'O'}
Dict1.update(Dict2)
print(Dict1)

{'Student_ No.': '25/005', 'Name': 'Jemma', 'Course': 'Aeronautical', 'Marks': 96, 'Grade': 'O'}

Dict.values()   Returns a list of values inn dictionary.

In [25]:
Dict1 = {'Student_ No.' : '26/006', 'Name' : 'Angie', 'Course' : 'Geological'}
print(Dict1.values())

dict_values(['26/006', 'Angie', 'Geological'])

Dict.iteritems() 

Used to iterate through items in the dictionary.

In [0]:
Dict1 = {'Student_ No.' : '27/007', 'Name' : 'Karl', 'Course' : 'Geospatial'}
for i, j in Dict1.iteritems():
  print(i,j)

# Difference between List & Dictionary : 

A list is an ordered set of items.  But a dictionary is a data structure that is used for matching one item (key) with another (value) 

In List idexing is used to access the particular item.  But these indexes should be number. 

In dictionaries uses any type (immutable) of value as an index.  Dict ['Course'] the course acts as an index, but it is not a number but a string.  

List is used to look up a value, whereas dictionary, which is also known as lookup table, is used to take one value and look up another value.  

The key value pair may not be displayed in the order in which it was specified while defining the dictionary.   Python uses complex algorithms ( called hashing) to provide fast access to the items stored in the dictionary.  This also makes dictionary preferable to use over list of tuples.  

** String Formatting with Dictionaries** 
Python allows you to use string formatting feature with dictionaries. 
You can use %s, %d, %f etc to represent string, integer and float value. 

Program that using string formatting feature to print the key-value pairs stored in the dictionary.

In [33]:
Dict = {'Samantha' : 'Machine Learning', 'Malcolm' : ' Artificial Intelligence'}
for key, val in Dict.items():
  print("%s is studying %s"  % (key,val))

Samantha is studying Machine Learning
Malcolm is studying  Artificial Intelligence

# WHICH DATASTRUCTURE TO USE : 
If random access not required, use list 
If frequent modification required use list. 
For ensuring that every element in the data structure is unique, use set.
To prevent alteration of data, use tuples. 

**List vs Tuples vs Dictionary vs Set

Tuples are list which cannot be modified. Tuples have a fixed size, preventing addition or deletion of items from it.  

Due to mutability difference, tuples are easier on memory and processor in comparison to list.  

Performance optimization can be achieved through use of tuples.  

Tuples are used as heterogeneous collections, while lists are homogeneous collections.  

To store unordered values that do not have index sets are used. 

Sets do not have duplicate data and functions such as add() and update() can be used to edit the elements in the set.  

Program to add an item in a set.

In [34]:
Game = set(['Baseball', 'Basketball'])
print(Game)
Game.add('Ice Hockey')
print(Game)

{'Baseball', 'Basketball'}
{'Baseball', 'Ice Hockey', 'Basketball'}

# Dictionary is used to store key-value pair, its underlying usage is entirely different from that of List, Tuple or Set. Dictionaries serve as best Data Structures for frequent lookup operations.  


Program to return the name of an employee when his project name is given

In [35]:
Dict = { 'ProjectApple' : ' Marie', 'ProjectAmazon' : 'Richard', 'ProjectGoogle' : ' Harris', 'ProjectMicrosoft' : 'Victor'}
print(Dict['ProjectMicrosoft'])

Victor

Write a program that has dictionary of States and their codes.  Add another state in the pre-defined dictionary, print all the items in the dictionary and try to print code for a state that does not exists.  Set a default value prior to printing the dictionary.

In [36]:
States = {'Alabama' : 'AB', 'Alaska' : 'AL', 'California' : 'CL', 'Delaware' : 'DL', 'Florida' : 'FL' }
States ['Iowa'] = 'IW' 
States.setdefault('Kansas', 'Oops, not found')
print("Code for Delaware is : ", States['Delaware'])
print("-" * 5, "CODES", "-" * 5)
for i in States.items():
  print(i)
print("Code for Kansas :  ", States.get('Kansas'))

Code for Delaware is :  DL
----- CODES -----
('Alabama', 'AB')
('Alaska', 'AL')
('California', 'CL')
('Delaware', 'DL')
('Florida', 'FL')
('Iowa', 'IW')
('Kansas', 'Oops, not found')
Code for Kansas :   Oops, not found

Program that creates a dictionary of radius of circle and its circumference.

In [40]:
print("Enter -1 to exit.......")
Circumference = {}
while True:
  r = float(input("Enter radius :   "))
  if r == -1:
    break

  else:
    Dict = {r:2*3.14*r} 
    Circumference.update(Dict)  # adds key value pairs of Dict to Circumference  
print(Circumference)

Enter -1 to exit.......
Enter radius :   9
Enter radius :   4
Enter radius :   1
Enter radius :   -1
{9.0: 56.52, 4.0: 25.12, 1.0: 6.28}

Write a program that creates two dictionaries.  One that stores conversion values from meters to centimeters and other that stores values from centimeters to meters.

In [41]:
m_cm = {x : x*100 for x in range (1,11)}
temp = m_cm.values()  # return a list of values in dictionary
cm_m = {x : x/100 for x in temp}
print("Meters : Centimeters", m_cm)
print("Centimeters : Meters ",cm_m)

Meters : Centimeters {1: 100, 2: 200, 3: 300, 4: 400, 5: 500, 6: 600, 7: 700, 8: 800, 9: 900, 10: 1000}
Centimeters : Meters  {100: 1.0, 200: 2.0, 300: 3.0, 400: 4.0, 500: 5.0, 600: 6.0, 700: 7.0, 800: 8.0, 900: 9.0, 1000: 10.0}

Write a program that has a set of words in English Language and their corresponding words in Spanish.  Define another dictionary that has list of words in Spanish and thier corresponding words in Italian.  Take all words from English and display their meaning in both the language.

In [43]:
E_S = {'Enemy' : 'Enemigo', 'Professor' : 'Profesora', 'Magazine' : 'Revista'}
S_I = { 'Enemigo' : 'Nemico', 'Profesora' : 'Docente', 'Revista' : 'Rivista'}

for i in E_S:
  print(i, "in Spanish means", E_S[i], "and in Italian means", S_I[E_S[i]])

Enemy in Spanish means Enemigo and in Italian means Nemico
Professor in Spanish means Profesora and in Italian means Docente
Magazine in Spanish means Revista and in Italian means Rivista

Write a program that calculates fin(n) using dictionary.

In [44]:
Dict = {0: 0, 1: 1}
def fib(n):
  if n not in Dict:  # checks whether a given key is present in dictionary or not
    val = fib(n-1) + fib(n-2)
    Dict[n] = val 
  return Dict[n]
n = int(input("Enter the value of n :   "))
print("Fib(",n,") = ",fib(n))

Enter the value of n :   10
Fib( 10 ) =  55

Write a program that creates a dictionary of cubes of odd numbers in the range of 1-15.

In [46]:
Dict = { x: x**3 for x in range (1,15) if x%2==1}
print(Dict)

{1: 1, 3: 27, 5: 125, 7: 343, 9: 729, 11: 1331, 13: 2197}

Write a program that prompts the user to enter a message.  Count and print the number of occurence of each character.

In [47]:
def count(message):
  letter_counts = {}
  for letter in message: 
    letter_counts[letter] = letter_counts.get(letter,0) +1
  print(letter_counts)
message = input("Enter a message : ")
count(message)

Enter a message : Hi there how are you
{'H': 1, 'i': 1, ' ': 4, 't': 1, 'h': 2, 'e': 3, 'r': 2, 'o': 2, 'w': 1, 'a': 1, 'y': 1, 'u': 1}

Write a program to store sparse matrix as a dictionary.

In [0]:
matrix = [[0,0,0,1,0],
          [2,0,0,0,3],
          [0,0,0,4,0]]
Dict = {} 
print("Sparse Matrix")
for i in range(len(matrix)):
  print("\n")
  for j in range(len(matrix[i][j])):
    print(matrix[i][j], end = ' ')
    if matrix[i][j]!=0:
      Dict[(i,j)] = matrix[i][j]
print("\n\nSparse Matrix can be efficiently represented as Dictionary:  ")
print(Dict)

Write a program that inverts a dictionary.  It makes key of one dictionary value of another and vice versa.

In [50]:
Dict = {'Samantha' : 'Machine Learning', 'Malcolm' : ' Artificial Intelligence'}
inverted = {} 
for key, val in Dict.items():
  inverted[val] = key
print("Dict :   ",Dict)
print("Inverted Dict :  ", inverted)

Dict :    {'Samantha': 'Machine Learning', 'Malcolm': ' Artificial Intelligence'}
Inverted Dict :   {'Machine Learning': 'Samantha', ' Artificial Intelligence': 'Malcolm'}

Write a program that has dictionary of names of students and a list of their names in 5 subjects.  

Create another dictionary from this dictionary that has names of the student and their marks.  

Find the top scoring student.

In [0]:
Marks = {'Neil' : [87,88,82,80,91], 'Micheal' :[78,86,83,81,71], ' Samantha' : [77,68,83,86,81] }
tot = 0
Tot_Marks = Marks.copy() # return a shallow copy of dictionary it will not have duplicate, 
for key,val in Marks.items(): # return a list of tuples (key value pair) 
  tot = sum(val)
print(Tot_Marks)
max= 0
for key, val in Tot_Marks.items():
  if val > max:
    max = val
    Topper = key 
print("Topper is :  ", Topper, " with marks = ",max)

Write a program that print a histogram of frequencies of characters occuring in a message.

In [0]:
message = 'Hi there, How are you doing!...... Welcome to Python Programming'
message.lower()
Dict = dict()
for word in message:
  if word not in Dict: 
    Dict[word] =1
  else:
    Dict[word] = Dict[word]  +1
print(Dict)
for key, val in Dict.items():
  print(key, '\t','*' * val)

Write a program that prompts the user to enter a filename.  Open the filename and print the frequency of each word in it.

In [0]:
filename = input('Enter the file name:  ')
file = open(filename)
counts = dict()
for line in file: 
  words = line.split()
  for words in words: 
    if word not in counts:
      counts[word] =1
    else:
      counts[word] += 1
print(counts)

Write a program to count the number of characters in the string and store them in dictionary data structure.

In [0]:
str = "Hi there, how are you doing..... welcome to python programming"
len(str)
Dict = {str:len}
print(Dict)

Write a program that combines the list to a dictionary.

In [57]:
keys = ['Name', 'Age', 'Marital Status']
values = ["Omar", 45, "Single"]
details = zip(keys,values) # built in function takes two or more sequences and zips them into a list of tuples. 
Dict = dict(details)
print(Dict)

{'Name': 'Omar', 'Age': 45, 'Marital Status': 'Single'}