<a href="https://colab.research.google.com/github/vijendranp/Python--Computational-Approach/blob/master/IntroductiontoPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BASICS OF PYTHON PROGRAMMING 
**FEATURES OF PYTHON**:

Simple : Python is a simple and small language.  Python is an open source project, supported by many individuals.  It is a platform independent, scripted language with complete access to operating system APIs.  

This allows the users to integrate application seamlessly to create high powered feature, highly focussed applications.  

**Easy to Learn**  The structure of the program is very simple.  It uses few keywords and a clearly defined syntax. 

**High level language** Programmers do not have to worry about the low-level details like managing memory used by the program.  

**Interactive**  Python programs work in interactive mode which allows interactive testing and debugging of pieces of code.   Programmers can easily interact with the interpreter directly at the Python prompt to write their programs.  

**Portable** Python is portable language and hence the programs behave the same in a wide variety of hardware platforms and has the same interference on all platforms. The programs works on any of the following operating systems:

Linux, Windows, FreeBSD, Macintosh, Solaris, OS/2, Amiga, AROS, AS/400, BeOS, OS/390 z/OS, Palm OS, QNX, VMS, Psion, Acorn RISC Vxworks, Playstation, Sharp Zaurus, Windows CE, even Pocket PC without requiring any changes.  

**Object Oriented** : Python supports object oriented as well as procedural oriented style of programming.  While object oriented technique encapsulates data and functionalities within objects,  procedure oriente techniques, on the other hand, builds the program around procedures or functions, which are nothing but reusable pieces of programs.  

**Interpreted** Python the interpreter not only translates the code into machine language but also executes it.  
The interpreter takes a source program as its input and gives the output.  This is in contrast with the compiler, which produces an object file as the output of the compilation process.  Usually, a compiled program executes faster than an interpreted program.  

some of the interpreted languages are Ruby, Python and PHP.  


**Dynamic** Python executes dynamically.  Programs written in Python can be copied and used for flexible development of applications.  If there is any error, it is reported at run-time to allow interactive program development.  

**Extensive** Since python is an open source software anyone can add low level modules to the Python interpreter.  These modules enable programmers to add or to customize their tools to work more efficiently.  

**Embeddable** Programmers can embed Python within their C, C++, COM, ActiveX, CORBA and Java Programs to give 'scripting' capabilities for users.  

**Extensive Libraries** Python has a huge library that is easily portable across different platforms. These library functions are compactible on UNIX, Windows, Macintosh and allows programmers to perform a wide range of applications varying from text processing, maintaining databases to GUI programming.  

**Secure** The python language environment is secure from tampering.  Modules can be distributed to prevent altering the code.  Apart from this, additional security checks can be easily added to implement additional security features.  

**Robust** Python programmers cannot manipulate memory directly.  Errors are raised as exceptions that can be catch and handled by the program code.  

Multi-threaded : Python supports multi threading that is executing more than one process of a program simultaneously.  It also allows programmers to perform process management tasks.  

**Garbage Collection** The Python run time environment handles garbage collections of all Python objects.  For that a reference counter is maintained to assure that no object that is currently in use is deleted.  An object that is no longer used or has gone out of scope are eligible for garbage collection.  

**Limitation** parallel processing can be done in Python, but not as elegantly as done in some other languages such as JavaScript and Go Language.  
Python not a choice of preference for developing high graphic 3d games as it takes a lot of cpu. 

It lacks true multiprocessor support. It has very limited commercial support point.  

Python is slower than c and c++ when computing heavy tasks and desktop application.  



**APPLICATIONS OF PYTHON** 
*   Embedded Scripting Lanugage :  Python is used as a embedded scripting language for various testing / building deployment/ monitoring framework scientific app, and quick scripts. 
*   3D software : 3D software like Maya uses Python for automating small user tasks, or for doing more complex integration such as talking to databases and asset management systems.  
*   Web Development :  Python is extensible language that provides good integration with database and other web standards.  Odoo, a consolidated suite for business application and Google App engine are other popular web application  based on python. 
*   For web development :- Python has frameworks such as Django and Pyramid, Microlevel frameworks such as Flask and Bottle, and advanced content management system such as Plone and django CMS. 

*   These frameworks provide libraries and modules which simplifies content management, interaction with database, and interfacing with different internet protocol such as HTTP, SMTP, XML-RPC, FTP AND POP. 
*   **GUI based desktop application** Python has various GUI toolkits like wx python, PyQt or PyGtk which help developer highly functional GUI including.  
Image processing and Graphic Design applications.  2D imaging software such as Inkscape, GIMP, Paint Shop Pro and Scribus. 
*   **Scientific and Computational applications** Tools such as Numeric Python and Scientific Python, 3D Modelling software such as FreeCAD.  Finite method element software like Abaqus 
*   SciPy is a collection of packages for mathematics, science and engineering.
Pandas is a data analysis and modelling library.
IPython is a powerful interactive shell that supports ease of editing and recording a work session.

# LITERAL CONSTANTS: 
7,3,9.8, 'A', and 'Hello' are literal constants. 

**Numbers** refers to numerica values. 

**In python you can specify integers in octal as well as hexadecimal number system**

Long integer must have L or l as the suffix. 
Numbers like 3.23 and 91.5E -2 are termed as floating point number. 
Numbers a + bi are complex numbers.  

**Note** The 'E' notation indicates powers of 10.  In this case, 91.5E-2 means 91.5 * 10-2 

Floating point numbers in python have a limited range and precision. 
In python you can have a number in the range of 10- 308 to 10308 with 16 to 17 digits of precision. 

**Arithmetic overflow** When you multiply very large floating point numbers you may get arithmetic overflow.

**Arithmetic underflow** It is a condition that occurs when a calculated result is too small in magniture to be represented.

In [0]:
a = 2.7e200
b = 4.3e200
c = a * b
print(c)

inf

In [0]:
a = 3.0e-400
b = 5.0e200
c = a / b
print(c)

0.0

In [0]:
1/3

0.3333333333333333

# BUILT - IN format() function: 
Any floating point value may contain an arbitrary number of decimal places, so it is always recommended to use the built-in format() function to produce a string version of a number with specific number of decimal places.  As  illustrated below using format () and also without using format()

In [0]:
float (26/(float(6)))  # without using floating format

4.333333333333333

In [0]:
format(float(26/(float(6))), '.3f')

'4.333'

Here the .3f format() function rounds the result to three decimal places of accuracy in the string produced.  


The format() function can also be used to format floating point numbers in scientific notation.  Observe the output with five decimal places of precision.

The format function can also be used to insert comma in the number.

**The format() produces a numeric string of floating point values rounded to a specific number of decimal places.

**Operation on Numbers**

**Quotient & Reminders**

In [0]:
85//5

17

In [0]:
98 % 5

3

In [0]:
184.68//6.0

30.0

In [0]:
184.38 % 6.0

4.3799999999999955

Exponentiation ;  The ** operator is used for exponentiation i.e. raising of one number to the power of another.

In [0]:
5 ** 3

125

In [0]:
format(131**0.8, '.3f')

'49.410'

**Unicode Strings** 

u"Sample Unicode String"
The 'U' prefix specifies that the file contains text written in language other than English.

**Escape Sequences** 
To indicate that the single quote does not indicate the end of the string.  This indication can be given with the help of an escape sequence. 

The different types of escape sequences are : 

\\   Prints Backslash            Print("\\")
\'   Prints single-quote         Print("\'")
\"  Prints double quotes
\a   Rings bell                  Prints("\a")
\f   prints form feed character  print("Hello\fWorld")
\n   prints newline character   print("Hello\nWorld")  
\t   prints a tab               print("Hello\t World")  Hello       World
\o   prints octal value         print("\056")             .  
\x   print hex value            print("\x87")             +

In [0]:
print("\x87")

Â‡

In [0]:
print("\o56")

\o56

# VARIABLES AND IDENTIFIERS

Developing complex program involves storing information and manipulate it as required and variables can help.  

Variables play a very important role in programming language, they are a part of computers memory where information is stored.  To be identified easily, each variable is given an appropriate name, every variable is assigned a name which can be used to refer to the value later in the program.  


**Variables are reserved memory locations that store values** 

Variables are examples of identifiers.  

**Identifiers** are names given to identify something.  This something can be variable, function, class, module or other object.    For naming any identifier, there are some basic rules to be followed: 

*   The first character of an identifier must be an underscore'_' or a letter.
*   Rest of the identifier can be underscore ('_') or digits 0-9 
*   Identifier names are case-sensitive. abvar and abVar are not same.
*    Punctuation characters such as @, $ and % are not allowed within identifiers.

Examples of valid identifiers are sum, __zy__var, val1, s, val_40, Second etc.
Examples of invalid identifiers are fnum, in-val,%see, Roll No, C#C&A.

# DATA TYPES 

Variable names can contain only letters, numbers, and underscores.  They cannot start with numbers.  

Variables can hold values of different types called data types.  
A person's name is made only of characters, his address is a mix of characters and numbers.

Python has various standard data types that are used to define the operations possible on them and the storage method for each of them.

**Based on the data types of a variable, the interpreter reserves memory for it and also determines the types of data that can be stored in the reserved memory.**


The programmer can create his own data type like classes.  The five standard data types supported by python includes;
numbers, string, list,tuple, dictionary.

# Assigning or Initializing values to variables.

Programmers need not explicitly declare variables to reserve memory space and is done automatically, when a value is assigned to the variable using = sign.  The operand on the left hand side of equal sign is the name of the variable and operand on the right hand side is the value stored in that variable.  


Program to display data of different types using variable and literal constants.

In [0]:
num = 17
price = 987.345
index = 'Z'
pi = 3.1415926536
urban_populous_city = 200000000000
sign = 'Hello'

print("NUM =  "+str(num))
print("\n PRICE = "+str(price))
print("\n INDEX   ="+str(index))
print("\n  URBAN POPULOUS CITY =  "+str(urban_populous_city))
print("\n SIGN  = "+str(sign))

NUM =  17

 PRICE = 987.345

 INDEX   =Z

  URBAN POPULOUS CITY =  200000000000

 SIGN  = Hello

Program to reassign variable

In [0]:
var = 'Hi there'
print(var)
var = 300
print(var)
var = 34.45
print(var)

Hi there
300
34.45

# Multiple assignments 
Python allows programmers to assign a single value to more than one variables simultaneously.

sum = flat = a= b= 0

in above all variables are assigned value 0.

You can also assign different values to multiple variables simultaneously. 

var, z,y, code = 1,3,10,"SHOW"

**Note** Removing a variable means that the reference from the name to the value has been deleted.   However, deleted variabes can be used again in the code if and only if you reassign them some value.  

**Boolean** 

Boolean is another data type in Python.  A variable of Boolean type can have one of the two values-- True or False.

Boolean variables are also created while we assign a value to them or when we use a relational operator on them.  

** Boolean variables are also created by comparing values using the == operator**

Codes to assign and access boolean variable.  

**Note** <,> operators can also be used to compare strings lexicographically. 

code to assign and access Boolean variables

# Multiple Statements on a Single Line

Do not use the semi-colon in python. 
There are two types of lines in program code, the physical line and the logical line.  While physical line is what we see while writing the program, logical line, on the other hand, is what Python sees as a single statement.  
print("Hello") is a logical line.  If this is the only statement present in a lin,e it also corresponds to physical line.  

Python assumes that each physical line corresponds to a logical line.  So, it is a good programming habit to specify a single statement on a line.  The also makes the code readable and easily understandable.  

mesg = "Hello"
print(mesg)

In [0]:
Boolean_val = True 
print(Boolean_val)

True

In [0]:
'Hithere' == 'Hithere'

True

In [0]:
40 != 45

True

# INPUT OPERATION 
The input() function prompts the user to provide information on which the program can work and give result.  

# COMMENTS: 
Comments are non-executable statement in the program.  They are added to describe the statement in the program code.  In python # hash sign that is not inside a string literal beging a comment.  

# RESERVED KEYWORDS
Every programming language there are certain words which have predefined meaning  and cannot be used for naming identifiers.  
**All the python keywords contain lowercase letters only**


# INDENTATION: 
Whitespace at the beginning of the line is called indentation, which are very important in python.  The leading whitespaces including spaces and tabs at the beginning of the logical line determines the indentation level of that logical line.  

**Note** In Python indentation is used to associate and group statement. 

The level of indentation groups statement to form a block of statements, meaning that the statements in a block must have same indentation level.  

**Python strictly checks the identation level and gives error if indentation is not correct** 

** ^ is a standard symbol that indicates where error has occured in program**

** All statement inside a block should be at the same indentation level**



# OPERATORS AND EXPRESSIONS : 

Operators are the constructs that are used to manipulate the value of operands.  Some basic operators include +,-, * and /.   In an expression, an operator is used on operand(s) values to be manipulated  
For example   add = z + y z and y are operands and + is the operator.  

Python supports different types of Operators, which are as follows: 

Arithmetic Operators
Comparison Operators 
Assignment Operators 
Logical Operators 
Unary Operators
Bitwise Operators 
Membership Operators 
Identity Operators.  


**Arithmetic Operators** 

Some basic arithmetic operators are +,-,*/,%, ** and //.  

You can apply these operators on numbers as well as variables to perform corresponding operators.  

The description of some of the important operators are given below: 

%  The modulus divides operand on the left hand side of the operator with the operand on the right hand side.  The modulus operator returns the remainder  

print(b%a) return 0 

**//** Floor Division : Divides the operand and returns the quotient.  It also removes the digits after the decimal point.  If one of the operands is in the negative the result is floored (i.e. rounded away from zero towards negative infinity) 

Observe the output below: 

// floor division

In [0]:
print(14//5)
print(14.0//5.0)
print(19//5)
print(-20//3)

2
2.0
3
-7

# COMPARISON OPERATOR : 

The comparison operator also known as relational operator are used to compare the values on its either sides and determines the relation between them. 

For example, z = 50 and y = 100 we can use following comparison operators on them, as specified :

In [0]:
z = 50
y = 100

print(z==y)
print(z!=y)
print(z>y)
print(z<y)
print(z>=y)
print(z<=y)

False
True
False
True
False
True

**Assignment and In-place or Shortcut Operators**

Assignment Operator, as the name suggests assigns the value to the operand.  The in-place operators also known as the shortcut operators that include +=, -=, /=, //=, allow you to write code like 

**num = num + 10 more concisely as num+=3**

**z = x ** Assigns the operand on the right side of the operator to the operand on the left. 

**+=** **Add and assign:** a+=b is same as **a = a + b**

**-=** **Substract and assign** a-= is same as **a = a - b**

** *=**  **Multiply and assign** a*=b is same as **a = a*b**

**/=**  **Divide and assign** a/=b is same as **a = a/b**

**%=**  **Modulus and assign** a%=b  is same ** as a = a % b  ** 

**//==**  **Floor division** **a//b = b is same **a = a//b**

**= Exponent & assign :Performs exponential calculations, a**=b is same as a**b

In [0]:
str1 = "Python"
str2 = "Programming"
str1 += str2
print(str1)

PythonProgramming

# UNARY OPERATORS : 
**Python does not support prefix and postfix increment operator as well as decrement operators. **

Unary operators operate on a single operands.

In [0]:
z = 50
y = -(z);
print(y)

-50

# BITWISE OPERATORS 
As the name suggests bitwise operators perform operation at the bit level.  These operators include bitwise;
AND, bitwise OR, bitwise XOR and shift operations.  

**Bitwise operators expect their operands to be of integers and treat them as sequence of bits** 

**BITWISE ANAD (&)**
When we use the bitwise AND operator, the bit in the first operand is ANDED with the corresponding bit in the second operand.  

The bitwise AND operator compares each bit of its first operand with the corresponding bit of its second operand.  If both bits are 1, the corresponding bit in the result is 1 and 0 otherwise.  

**BITWISE OR (|)**

when we use the bitwise OR operator, tbe bit in the first opeand is ORed with the corresponding bit in the second operand.  The bit-wise OR operator compares each bit of its first operand with the corresponding bit of its second operand.  If one or both bits are 1, the corresponding bit in the result is 1 and 0 otherwise.  For example, 

10101010  | 0101010101  = 11111111

**BITWISE XOR (^)** 
The bit in the first operand is XORed with the corresponding bit with the second operand.  The bitwise XOR operator compare each bit of its first operand with the corresponding bit of the second operand.  If one of the bits is 1, the corresponding bit in the result is 1 and 0 otherwise 

10101010 ^ 0101010101= 11111111


**BITWISE NOT(~)** 
The bitwise NOT, or complement is a unary operation, which performs logical negation on each bit of the operand.  By performing negation of each bit, it actually produces the ones complement of the given binary value.  Bitwise NOT operator sets the bit to 1, if it was initially 0 and sets it to 0, if it was initially 1. For example, 

~ 10101011 = 0101011000

In [0]:
a = 10101010 
b = 01010101 
print(a & b)

# Shift Operators : 

Python supports two bitwise shift operators.  They are shift left (<<) and shift right (>>).  These operators are used to shift bits to the left or to the right.  The syntax for a shift operation can be given as follows :


operand op num 

where the bits in operand are shifted left or right depending on the operator ( left if the operator is << and right if the operator is >>) by places denoted by num.  

For example,  
If we have x = 0001 1101, then 
x << 1 gives result 0011 1010 

When we applya left shift, every bit in x is shifted to the left by one place.  Therefore, the most significant bit of x is lost and the least significant bit of x is set to 0, for example : 

if we have x = 0001 1101, then 
x << 4 gives result = 1010 0000

Observe that shifting once to the left multiplies the number by 2.  Hence Multiple shifts of 1 to the left results in multiplying the number by 2 over and over again.  

When we apply a right shift operator every bit in x is shifted to the right by one place.  Therefore, the LSB of x is lost and the MSB of x is set to 0.  

if we have x = 0001 1101, then 
x >> 1 give result = 0000 1110
Similarly, if we have x = 0001 1101 then 
x << 4 gives the result = 0000 0001

**Note** Bitwise operators cannot be applied to float or double variables.

# LOGICAL OPERATORS 

Python supports three logical operators logical AND( &&) logical or (||) and logical not (!).  

Logical operations are evaluated from left to right.  

Logical AND (&&)  

Logical AND Operator is used to simultaneously evaluate connditions or expressions with relational operators.  If expression on both the sides of the logical operator are true, then the whole expression is true.

For example we have an example (a>b) && (b>c)  then the whole expression is true only if both expressions are true.  That is, if b is greater than a and c. 

LOGICAL OR (||)

Logical OR operator is used to simultaneously evaluate two conditions or expressions with relational operators if one or both the expression of the logical operators is true, then the whole expression is true.  For example, we have 

(a > b) || (b>c) then the whole expression is true if either b is greater than a or be is greater than c.  


LOGICAL (NOT) 

This logical not operator takes a single expression and negates the value of the expression.  Logical NOT produces a zero if the expression evaluates to a non-zero value and produces a 1 if the expression produces a zero.  

In other words, it just reverses the value of the expression 

a = 20, b 
b = !a
Now the value of b = 0.  The value of a is not zero, therefore, !a = 0.  The value of !a is assigned to b, hence the result.  

**NOTE** The table of logical AND, OR and NOT operators is exactly same as that of bitwise AND, OR, and NOT.  

The logical expressions operate in a shortcut fashion and stop the evaluation when it knows the final outcome for sure.  

In a logical expressioin involving logical AND, if the first operand is false, then the second operand is not evaluated as it is certain that the result will be false.  

Similarly, for a logical expression involving logical OR if the first operand is true, then the second operand is not evaluated as it is certain that the result will be true.

# Membership Operators : 

Python supports two types of membership operators -- **in and not in**  
These operators test for membership in a sequence such as string, list, or tuples. 

**in Operator** :  The operator returns true if a variable is found in the specified sequence and False otherwise.  For example, a in nums returns 1 if a is a member of nums.  

**not in Operator** The operator returns true if a variable is not found in the specified sequence and False otherwise.  For example, a not in nums returns 1, if a is not a member of nums.  

** is operator** Returns true if operands or values on both sides of the operator points to the same object and False otherwise.  For example, if a is b returns 1, if id(a) is same as id(b) 

** is not operator** Returns True if operands or values on both sides of the operator does not point to the same object and False otherwise. For example, if a is not in b return 1, if id(a) is not the same as id(b)

# OPERATOR PRECEDENCE AND ASSOCIATIVITY: 

When an expression has more than one operator, then it is the relative priorities of the operators with respect to each other that determines the order in which the expression will be evaluated.  

**Operator**                   **Description** 
**                                exponentiation
~,+,-                             complement, unary plus, minus
*,/,%, //                         multiply, divide, modulu, floor division
+,-                                Addition and substraction 
>>, <<                           right and left bitwise shift 
&                                  Bitwise & 
^ |                               Bitwise exclusive OR  and regular OR
<=, <,>=                          Comparison Operators 
=, %=,/=, //=, -=,+=,*=,**=       Assignment operators 
is, is not                        Identity operators 
in, not in                        Membership operators 
not, or, and                      Logical operators.  


The operator precedence table is important as it affects how an expression is evaluated.  

20 + 30 * 5 
170 
This is because * has higher precedence than +, so it first multiplies 30 and 5 and then adds 20.  The operator precedence table decides which operators are evaluated in what order.  If the programmer wants to change the precedence, she can use parentheses. 

**Note** Operators are associated from left to right.  This means that operators with the same precedence are evaluated in a left to right manner. 

Lets try some codes to see how the operator precedence works in the following expressions.

In [0]:
(80 + 40) * 15 /5

360.0

In [0]:
((80 + 40) * 15) /5

360.0

In [0]:
(80 + 40) * (15 /5)

360.0

In [0]:
80 + (40 * 15) /5

200.0

The following expression apply operator precedence on Boolean Data types.

In [0]:
False == False or True # True because == has a higher precedence than or

True

In [0]:
False == (False or True)  # parenthesis has changed the order of operators

False

In [0]:
(False == False) or True

True




**Note** : Python performs opertions in the same order as that of normal mathematics-- BEDMAS i.e. Brackets first then exponentiation, then division, then addition and finally substraction.

# Expression in Python : 
An expression is any legal combination of sybmols like variables, constants and operators) that represents a value.  

Python has its own set of rules that define whether an expression is valid or invalid in that language.  

 Expression must have at least one  operand (variable or constant) and can have one or more operators.  On evaluating an expression we get a value.  

 Operand is the value on which the operator is applied. These operators use constants and variable to form as expression.  Z * Y + X - 5 is an example of expression where +, * and - are operators; Z,Y,X are variables; 5 is a constant.  Some valid expression in Python are : 
 z a = z/ c, x = z * y, z = y^x, a = z > y etc when an expression has more than one operator, then the expression is evaluated using operator precedence.

 An example of an illegal expression can be z+, -x, or < ab++.  When the program is compiled it also checks the validity of the expression and error message is displayed.  

**Types of Expression:**  

Python supports different types of expression that can be classified as follows: 
**Infix expression** : It is the most commonly used type of expression in which the operator is placed in between the operands.  Example z = x - y 

**Prefix Expression** : In this type of expression, the operator is placed before the operands.  Example z = -xy

**Postfix Expression** : In this type of expression, the operator is placed after the operands.  Example z = xy- 


Prefix and postfix expressions are usually used in computers and can be easily evaluated using stack.  

Based on the data type of the result obtained on evaluating an expression:  These type of expressions include: 

Constant Expression : One that involves only constants.  Example 16 + 18 -4

Integral expression : One that produces an integer result after evaluating the expression.  Example:- 

z = 20
y = 10
x = z * y 


Floating point expression : One that produces floating point results.  
example z * y /2 

Relational Expressions : One that produces true or false value.  Example z = x > y
Logical Expressions : One that combines two or more relational expressions and returns a value as True or False.  Example z>y && x! = 0 

Bitwise Expressions :  One that manipulates data at bit level.  Example z = a&b 

Assignment expressions : One that assigns a value to a variable.  z = x + y or w =10

# OPERATIONS ON STRINGS: 

**CONCATENATION** 
The process of combining two strings is called concatenation.  Two strings whether created using single or double quotes are concatenated in the same way.

The following codes demonstrate how easily two strings are concatenated

In [0]:
print ("Mother Teressa " +  " -- Noble Prize Winner for Peace")

Mother Teressa  -- Noble Prize Winner for Peace

You can add numbers as string.

In [0]:
print("python" + "3.4")

python3.4

Note that first time we concatenated a string and a number, an error was generated, but when we used that number as a string ( within quotes), concatenation was done.

In [0]:
print ( "12" + "43")

1243

# Multiplication ( or String Repetition) 

When a string is multiplied with an integer n, the string is repeated n time.  Thus, the * operator is also known as a string repetitioin operator.  

The order of string and integer is not important.  Just observe that both the codes given below which produces the same output.  However, as a good programming practice, you must write the string first.

In [0]:
print ("Hello" * 8)

HelloHelloHelloHelloHelloHelloHelloHello

Program that performs addition and multiplications on string variables.

In [0]:
str = ' Python'
print (str + '4')
print ( str * 5)

 Python4
 Python Python Python Python Python

# Slice a String. 

You can extract subsets of string by using the slice operator ( [ ] and [: ]).  You need to specify index or the range of index of characters to be extracted.  The index of the first character is 0 and the index of the last character is n - 1. where n is the number of characters in the string.  

If you want to extract characters starting from the end of the string, then you must specify the index as a negative number.  The index of the last character is -1.  

Program performing slice operation on strings.

In [0]:
str = "Welcome to Python Programming"
print(str)
print(str[0])
print(str[6:11])
print(str[8:])
print(str[-4])
print(str[:10])
print(str + "its fun" )

Welcome to Python Programming
W
e to
to Python Programming
m
Welcome to
Welcome to Python Programmingits fun

In [0]:
format(98765432, ',')

'98,765,432'

In [0]:
format(4**40, '.5e')

'1.20893e+24'

# write a program to print the fibonacci series

In [0]:
def fibonacci(n):
  if(n<2):
    return 1
  else:
    return (fibonacci(n-1)+fibonacci(n-2))

n = int(input("Enter the number of terms: "))
for i in range(n):
  print("Fibonacci(",i,") = ",fibonacci(i))

In [0]:
from math import pi
print("PI =  ",pi)

In [0]:
import math
from math import sqrt as square_root
print(square_root(81))

In [0]:
format(3**50, '.5e')

In [0]:
float(16/(float(3)))

In [0]:
format (float(16/(float(3))), '.2f')

Display data of different type using variable and literal constant

In [0]:
num = 7
amt = 124.55
code = 'A'
pi = 3.1415926536
population_of_india = 1000000000
msg = "Hi"

print("NUM = "+str(num))
print("\n AMT = " + str(amt))
print("\n CODE =" +str(code))
print("\n POPULATION OF INDIA = "+ str(population_of_india))
print("\n MESSAGE = "+str(msg))

Program to reassign values to variable

In [0]:
val = 'Hello'
print(val)
val = 100
print(val)
val = 12.34
print(val)
x = 5
y = 10
print('Hello')
print(x+y)

In [0]:
mesg = "Helo"
print(mesg)

Helo

In [0]:
mesg = "Hello";
print(mesg);

Hello

In [0]:
mesg = "Hello";
print(mesg)

Hello

In [0]:
name = input("What is your name?")
age = input(" Enter your age :")
print ( name + ", you are " + age + " years old")

In [0]:
a = 100
b = 200

print (a+b)
print(a-b)
print(a*b)
print(b/a)
print(b%a)
print(12//5)
print(12.0//5.0)
print(-19//5)
print(-20.0//3)
print(a**b)

Operator Description : 

=  c = a ,  assigns value of a to c 
a += is same as a = a + b
a -=  is same as a = a-b

a *=  is same as a = a * b

a /b is same as a = a / b

a % b is same as a = a % b

a//=b is same as a = a // b

a**b = b is same as a = a**b

In [0]:
str1 = "Good"
str2 = "Morning"
str1 += str2
print(str1)

GoodMorning

b = 10
a = -(b);

In [0]:
b = 10
a = -(b)
print(b)
print(a)

10
-10

In [0]:
print (" Hello"  * 5)
print ( 5      *      "Hello")

 Hello Hello Hello Hello Hello
HelloHelloHelloHelloHello

# **String operation**

In [0]:
str = ' Python is easy !!!'
print(str)
print(str[0])
print(str[3:9])
print(str[4:])
print(str[-1])
print(str[:5])
print(str * 2)
print(str +  "ISNT'T IT?")
print(str + "ISNT'T IT?")

 Python is easy !!!

thon i
hon is easy !!!
!
 Pyth
 Python is easy !!! Python is easy !!!
 Python is easy !!!ISNT'T IT?
 Python is easy !!!ISNT'T IT?

#                                  **OTHER DATA TYPES**
**TUPLES**
A tuple is similar to a list as it also contains a number of values separate by commas and enclosed within a parentheses

Program to demonstrate operations on a tuple

In [0]:
Tup = ('a', 'bc', 78, 1.23)
Tup2 = ('d', 78)
print(Tup)
print(Tup[0]) # Prints the first element of the Tuple
print(Tup[1:3]) # Prints elements starting from 2nd till 3rd
print(Tup[2:]) # Prints elements starting from 3rd element.
print(Tup * 2) #  Repeats the tuple 
print (Tup + Tup2) # concatenates two tuples

# LIST
A list consist of items separated by commas and enclosed within square brackets
One important distinction between array and the list is that, while array contains value of same data type, a list on the other hand, can have values belonging to different data types. 

The values stored in the list are accessed using indexes.  The index of the first element is 0 and that of the last element is n-1.

Program to demonstrate operations on list

In [0]:
list = ['a','bc', 78, 1.23 ]
list1 = ['d', 88]
print(list)
print(list[0])
print(list[1:3])
print(list[2:])
print(list *2)
print(list + list1)

# **DICTIONARY**
Stores Data in Key : Value pairs.  Key value is usually of string, value can be of any data type.  Each key value pair is separated from the other using** (:)** 
To access any value in the dictionary, you just need to specify its key in square braces ([]).  
**NOTE:** List and Dictionary are mutable data types meaning their values can be altered. 

Program to demonstrate use of a dictionary:

In [0]:
Dict = { "Item" : "Chocolate", "Price" : 100}
print(Dict["Item"])
print(Dict["Price"])

# TYPE CONVERSION
In python, it is just not possible to complete certain operations that involves different types of data. For example, it is not possible to perform "2" + 4 since one operand is an integer and other is of string type. 

Anothher situation in which type conversion is a must is whhen you want to accept a non string value ( int or float) as input.

In [0]:
x = int(input("Enter the first number :"))
y = int(input("Ennter the second number: "))
print(x + y)

Functions for Type Conversions:

int(x) --> Converts x to an integer
long(x) --> Converts x to a long integer
float(x) --> Converts x to a floating point number
str(x) -->  converts x to a string
tuple(x) -->  converts x to a tuple 
list(x)  -->  Converts x to a list
set(x) -->  converts x to a set
ord(x) -->  Converts a single character to its integer value
oct(x)  --> converts an integer to its octal string
hex(x) -->  converts an integer to hexadecimal string
chr(x) -->  converts an integer to a character
unichar(x) -->  converts an integer to a Unicode character
dict(x) -->  creates a dictionary if x forms a (key-value) pair. 


**Note ** To learn more about the function, you can read its documentation by using the help(). 

# **Programming Examples**

Write a program to enter a number & display its hex and octal equivalent and its square root

In [0]:
import string
num = int(input("Enter a number "))
print("Hexadecimal of " + str(num) + "   : " +str(hex(num)))
print("Octal of"  +       str(num) + "  :  " + str(oct(num)))
print("Square root of " + str(num) + " :  " + str(num**0.5))

Enter a number 100
Hexadecimal of 100   : 0x64
Octal of100  :  0o144
Square root of 100 :  10.0

Write a program to read and print values of variables of different data types.

In [0]:
import sys

num = int(input("Enter the value of num : "))
amt = float(input("Enter the value of amt : "))
pi = float(input("Enter the value of pi "))
code = repr(input("Enter the value of the code"))
msg = repr(input ("Enter the value of the message "))
population_of_india = int(input("Enter the value of population of India  "))

print("NUM =  " + repr(num) +  "\n AMT = " + repr(amt) +  "\n CODE = " + repr(code) + "\n POPULATION OF INDIA = " + repr(population_of_india) + "\n MESSAGE = " + repr(msg))

Enter the value of num : 100
Enter the value of amt : 879.87
Enter the value of pi 3.14
Enter the value of the codeG
Enter the value of the message HELLO
Enter the value of population of India  78954000000
NUM =  100
 AMT = 879.87
 CODE = "'G'"
 POPULATION OF INDIA = 78954000000
 MESSAGE = "'HELLO'"

write a program to calculate area of a triangle using Heron's formula

**Heron's formula = area = sqrt(S*(S-a) * (S-b) * (S-c))**

In [0]:
import string
import math

a= float(input("Enter the first side of the triangle:     "))
b= float(input("Enter the second side of the triangle :   "))
c= float(input("Enter the third side of the triangle:     "))

print(a,b,c)
S = (a+b+c)/2
area = (S*(S-a)*(S-b)*(S-c))**0.5
print("Area = " +str(area))

# Write a Program to calculate the distance between two points:

In [0]:
x1 = (int(input("Enter the x coordinate of the first point :    ")))
y1 = (int(input("Enter the y coordinate of the first point :    ")))
x2 = (int(input("Enter the x coordinate of the second point :    ")))
y2 = (int(input("Enter the y coordinate of the second point :    ")))

distance = ((x2-x1)**2+(y2-y1)**2)**0.5
print("Distance =  ")
print(distance)

Write a Program to perform addition, substraction, multiplication, division, integer division, and modulo division, on two integer numbers.

In [0]:
import string
import math

num1 = int(input("Enter two numbers :   "))
num2 = int(input("Enter two numbers :   "))
add_res = num1+num2
sub_res = num1-num2
mul_res = num1*num2
idiv_res = num1/num2
modiv_res = num1%num2
fdiv_res = float(num1)/num2

print(str(num1)+ " +  " +str(num2)+ " = " +str(add_res))
print(str(num1)+ " -  " +str(num2)+ " = " +str(sub_res))
print(str(num1)+ " *  " +str(num2)+ " = " +str(mul_res))
print(str(num1)+ " /  " +str(num2)+ " = " +str(idiv_res)+ "(Integer Division)")
print(str(num1)+ " //  "+str(num2)+ " = " +str(fdiv_res)+ "(Float Division)")
print(str(num1)+ " %  " +str(num2)+ " = " +str(idiv_res)+ "(Modulo Division)")

Write a Program to perform addition, substraction, multiplication, on two floating point numbers.

In [0]:
import string
import math

num1 = float(input("Enter two numbers :   "))
num2 = float(input("Enter two numbers :   "))
add_res = num1+num2
sub_res = num1-num2
mul_res = num1*num2
idiv_res = num1/num2

print(str(num1)+ " +  " +str(num2)+ " = " + "%.2f"%add_res)
print(str(num1)+ " -  " +str(num2)+ " = "+ "%.2f" %sub_res)
print(str(num1)+ " *  " +str(num2)+ " = " + "%.2f"%mul_res)

Enter two numbers :   14.22
Enter two numbers :   36.64
14.22 +  36.64 = 50.86
14.22 -  36.64 = -22.42
14.22 *  36.64 = 521.02

Write a Program to demonstrate the use of relational operators.

In [0]:
import string
import math

x = 20
y = 30

print(str(x)+" <  "+str(y)+" = "+str(x<y))
print(str(x)+" == "+str(y)+" = "+str(x==y))
print(str(x)+" != "+str(y)+" = "+str(x!=y))
print(str(x)+" >= "+str(y)+" = "+str(x>=y))
print(str(x)+" <= "+str(y)+" = "+str(x<=y))

20 <  30 = True
20 == 30 = False
20 != 30 = True
20 >= 30 = False
20 <= 30 = True

Write a program to calculate the area of a circle

In [0]:
import math



radius = float(input("Enter the radius of the circle :  "))
area = 3.14*radius*radius
circumference = 2*3.14*radius
print("AREA = "+str(round(area,2))+"\t CIRCUMFERENCE =  "+str(round(circumference,2)))

Write a program to calculate average of two numbers.  Print their deviation.

In [0]:
num1 = int(input("Enter the two numbers :     "))
num2 = int(input("Enter the two numbers :     "))
avg = (num1+num2)/2
dev1 = num1-avg
dev2 = num2 - avg
print("Deviation of first num = ",dev1)
print("Deviation of second num = ",dev2)

Enter the two numbers :     14
Enter the two numbers :     20
Deviation of first num =  -3.0
Deviation of second num =  3.0

# Write a program to print the digit at ones place of a number

In [0]:
num = int(input("Enter any number:  "))
digit_at_ones_place = num%10
print("The digit at ones place of   " +str(num)+"  is  "+str(digit_at_ones_place))

Enter any number:  6789
The digit at ones place of   6789  is  9

# Write a Program to convert degrees fahrenheit into degrees celcius

In [0]:
fahrenheit = float(input("Enter the temperature in fahrenheit:  "))
celsius = (0.56)*(fahrenheit-32)
print("Temperature in degrees celsius = ",celsius)

Enter the temperature in fahrenheit:  100
Temperature in degrees celsius =  38.080000000000005

Write a Program to calculate the total amount of money in the piggybank, given the coins of Â¢5 Â¢10  Â¢25 & Â¢50

In [0]:
num_of_10_coins  = int(input("Enter the number of Â¢10 coins in the piggybank:     "))
num_of_5_coins   = int(input("Enter the number of Â¢5 coins in the piggybank:      "))
num_of_25_coins  = int(input("Enter the number of Â¢25 coins in the piggybank:     "))
num_of_50_coins  = int(input("Enter the number of Â¢50 coins in the piggybank:     "))
total_amt = num_of_10_coins*10+num_of_5_coins*5+num_of_25_coins*25+num_of_50_coins
print("Total amount in the piggybank = ", total_amt)

Write a program to calculate the bill amount for an item given its quantity sold, value, discount, and tax.

In [0]:
qty = float(input("Enter the quantity of item sold:   "))
val = float (input("Enter the value of the item :     "))
discount = float(input("Enter the discount percentage "))
tax = float(input("Enter the tax:   "))
amt = qty*val 
discount_amt = (amt*discount)/100
sub_total = amt- discount_amt
tax_amt = (sub_total*tax)/100
total_amt = sub_total + tax_amt
print("*******************BILL****************")
print("Quantity sold:   \t",qty)
print("Price per Item:   \t",val)
print("\n \t  \t-----------------------")
print("Amount : \t\t-", sub_total)
print("Tax: \t\t\t + ", tax_amt)
print("Discounted Total : \t",sub_total)
print(" \t  \t------------------------")
print("Total amount to be paid", total_amt)

DECISION CONTROL STATEMENT
A control statement is a statement that determines the control flow of set of instructions.

**The Three fundamental methods of control flow in a programming language are:
sequential, selection and iterative control.**

Header in Python is a specific keyword followed by a colon. The group of statements following a header is called suite.

Note : Header and its suite are together known as clause.

Program to increment a number, if it is positive:

In [0]:
x = 10
if(x > 0):  # Test the value of x
  x = x +1  # Increment the value of x if it is > 0
print(x)   # print the value of x

Program to determine the character entered by the user.

In [0]:
char = input("Press any key:  ")
if(char.isalpha()):
  print("You have entered a character")
if(char.isdigit()):
  print("You have entered a digit")
if(char.isspace()):
  print("You have entered a white space character")

# if-else statement
Syntax of if-else statement
if (test expression):
    statement block 1
else: 
    statement block 2
statement x

Write a program to determine the person is eligible to vote or not, if he is not eligible, display how many years are left to be eligible.

In [0]:
age = int(input("Enter the age :  "))
if(age>=18):
  print("You are eligible to vote ")
else:
  yrs = 18 - age 
  print (" You have to wait for another " + str  (yrs) + " years to cast your vote.")

Write a program to find larger of two numbers:

In [0]:
a = int (input("Enter the value of a :  "))
b = int (input("Enter the value of b :  "))
if(a>b):
  large = a
else:
  large = b
print("Large = ",large)

write a program to find whether the number is even or odd

In [0]:
num = int(input("Enter any number   "))
if(num%2 == 0):
  print(num," is even")
else: 
  print(num, " is odd")

Write a program to enter any character.  If the entered character is in lowercase then convert it into uppercase and if it is in uppercase character, then convert it into lowercase.

In [0]:
ch = input("Enter any character :   ")
if(ch>='A' and ch<='Z'):
  ch = ch.lower()
  print(" The entered character was in uppercase.  In lowercase it is :  " + ch)
else: 
  print(" The entered character was in lowercase.  In uppercase it is :   " + ch)

Write a program to find whether a given year is leap year or not.

In [0]:
year = int(input("Enter any year:   "))
if((year%4==0 and year%100 != 0)):
  print("Leap Year")
else: 
  print(" Not a leap year")

**NESTED if statements : **

A statement that contains other statements is called a compound statement.  
To perform complex checks, if statement can be nested,  that is can be placed one inside the other.  
In such a case, the inner if statement is the statement part of the outer one. 

*Nested if statements are used to check if more than one condition is satisfied*

program that prompts the user to enter a number and then prints its interval

In [0]:
num = int(input("Enter any number from 0-30:  "))
if(num>=0 and num<10):
  print ("It is in the range of 0-10")
elif (num>=10 and num<20):
  print("It is in the range of 10-20")
elif (num>20 and num<30):
  print(" It is in the range of 20-30")

**if-elif-else Statement**
*Python supports if-elif-else statement to test additional conditions apart from the initial test expression*

Syntax : 

if-elif-else Statement: 

if ( test expression 1) 
    statement block 1
elif (test expression 2)
    statement block 2
    .................................
elif (test expression N )
  statement block N 
else
  Statement Block X
Statement Y 
**Note : The colons are placed after the if-else and the elif statement**

Program to test whether a number entered by the user is negative, positive, or equal to zero;

In [0]:
num = int(input("Enter any number : "))
if(num==0):
  print("The value is equal to zero")
elif(num>0):
  print(" The number is positive")
else: 
  print( " The number is negative")

Write a program to determine whether the character entred is a vowel or not.

In [0]:
ch = input ( "Enter any character :   ")
if( ch=="A" or ch=="E" or ch=="I" or ch=="O" or ch=="U"):
  print(ch, "is a vowel")
elif(ch=="a" or ch=="e" or ch=="i" or ch=="o" or ch=="u"):
  print(ch, "is a vowel")
else: 
  print(ch, "is not a vowel")

Enter any character :   k
k is not a vowel

Write a Program that prompts the user to enter a number between 1-7 and then display the corresponding day of the week:

In [0]:
num = int(input("Enter any number between 1 to 7 :  "))
if (num==1) : print("Sunday")
elif(num==2) : print("Monday")
elif(num==3) : print("Tuesday")
elif(num==4) : print("Wednesday")
elif(num==5) : print("Thursday")
elif(num==6) : print("Friday")
elif(num==7) : print("Saturday")
else: 
  print(" Wrong input")

Write a proram to take input from the user and then check whether it is a number or a character.  if it is a character, determine whether it is in uppercase or lowercase.

In [0]:
ch = input("Enter the character :   ")
if(ch>="A" and ch<="Z"):
  print("Uppercase character was entered")
elif(ch>='a' and ch<='z'):
  print(" Lowercase character was entered")
elif(ch>='0' and ch<='9'):
  print(" A number was entered")

# Write a program to find the greatest number from the three numbers

In [0]:
num1 = int(input("Enter the first number :    "))
num2 = int(input("Enter the second number :   "))
num3 = int(input("Enter the third number :    "))

if(num1>num2):
  if(num1>num3):
    print(num1, "is greater than", num2, "and ", num3)
  else:
    print(num3, "is greater than", num1, "and ", num2)
elif(num2>num3):
  print(num2,"is greater than", num1, "and",num3)
else:
    print(" The three numbers are equal")

# Write a program to enter the marks of a student in four subjects, then calculate the total and aggregate and display the grade obtained by the student. If aggregate > 75% (distinction) if aggregate 50>= and <60 then second division.  If aggregate is 40>= and <50, then the grade is third division.

In [0]:
marks1 = int(input ( "Enter the marks in Mathematics :      "))
marks2 = int(input ( "Enter the marks in Science       :    "))
marks3 = int(input ( "Enter the marks in Social Science :   "))
marks4 = int(input ( "Enter the marks in Computers :        "))

total = marks1+marks2+marks3+marks4
avg = float(total)/4
print("Total =  ",  total,  "\t            Aggregate = ", avg)
if(avg>=75):
  print("Distinction")
elif(avg>=60 and avg<75):
  print("First Division")
elif(avg>=50 and avg<60):
  print("Second Division")
elif(avg>=40 and avg<70):
  print("Third Division")
else:
  print("Fail")

Enter the marks in Mathematics :      28
Enter the marks in Science       :    32
Enter the marks in Social Science :   31
Enter the marks in Computers :        19
Total =   110 	            Aggregate =  27.5
Fail

*Write a program to calculate the roots of a quadratic equation

Tip : While forming the conditional expression try to use positive statement rather than using compound negative statement.

In [0]:
a = int(input("Enter the values of a :    "))
b = int(input("Enter the values of b :    "))
c = int(input("Enter the values of c :    "))

D = (b*b) - (4*a*c)
deno = 2*a

if(D>0):
  print("REAL ROOTS")
  root1 = (-b + D**0.5)/deno
  root2 = (-b - D**0.5)/deno
  print(" Root1 =  ", root1, "\tRoot2 = ",root2)
elif(D==0):
  print("EQUAL ROOTS")
  root1 = -b/deno
  print("Root1 and Root2", root1)
else: 
  print("IMAGINARY ROOTS")

Enter the values of a :    6
Enter the values of b :    7
Enter the values of c :    8
IMAGINARY ROOTS